﻿@model Presentation.Web.Models.Team.DeleteTeamViewModel
@{
    ViewBag.Title = "Bekræft sletning";
}

<h2>Bekræft sletning</h2>
<hr class="hidden-xs" />

<h3>Dette team kan ikke slettes</h3>
<p>
    Dette team har projektleder tilknyttet og kan derfor ikke slettes.
    @Html.ActionLink("Tilbage til listen", "Index")
</p>
