﻿@using Presentation.Web.Helpers
@model IEnumerable<Presentation.Web.Models.NextMeeting.IndexNextMeetingViewModel>

@{
    ViewBag.Title = "Kommende færdselsmøder";
    var gridTitle = "NextMeetingGrid";
}

<h2>Kommende færdselsmøder</h2>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Opret næste færdselsmøde</a>
        </div>
    </div>
    <hr />
    @(Html.Kendo().Grid<Presentation.Web.Models.NextMeeting.IndexNextMeetingViewModel>()
          .Name(gridTitle)
          .Columns(c =>
          {
              c.Bound(col => col.Deadline);
              c.Bound(col => col.Name);
              c.Bound(col => col.IsActive).ClientTemplate("# if (IsActive === true) { # " +
                                                          "Ja" +
                                                          "# } else { #" +
                                                          "Nej" +
                                                          "# } #");

              c.Template(col => null)
                 .AddCustomButton("<span class=\"glyphicon glyphicon-pencil text-success\"></span>", Url.Action("Edit", "NextMeeting"))
                 .AddCustomButton("<span class=\"glyphicon glyphicon-remove text-danger\"></span>", Url.Action("Delete", "NextMeeting")).Width(1);
          })
          .Pageable(pager => pager.PageSizes(new List<int> { 10, 20, 50, 100, 200, 500 }))
          .Sortable()
          .Filterable(x => x.Mode(GridFilterMode.Menu))
          .DataSource(x => x.Ajax().Read(r => r.Action("NextMeeting_Read", "NextMeeting")))
    )
</div>

@Scripts.Render("~/Scripts/kendo/KendoTableHelpers.js")

@section scripts
{
    <script>
        $(function () {
            initStatePersistance("@gridTitle");
        });
    </script>
}