﻿@model Presentation.Web.Models.Project.CreateProjectViewModel
@{
    ViewBag.Title = "Opret Projekt";
}

<h2>Opret projekt</h2>
<hr class="hidden-xs" />

<div class="container">
    @using (Html.BeginForm("Create", "Project", FormMethod.Post, new { id = "form" }))
    {
        <div class="row">
            <div class="col-md-6">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.TopicId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.TopicId, ViewBag.TopicList as List<SelectListItem>, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TopicId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AddressId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @{
                                var selectedAddress = new List<SelectListItem> { new SelectListItem() }; // Empty item to enable dropdown clearing with select2
                                if (Model != null && Model.AddressId != Guid.Empty)
                                {
                                    selectedAddress.Add(new SelectListItem { Value = Model.AddressId.ToString(), Selected = true });
                                }
                            }
                            @Html.DropDownListFor(model => model.AddressId, selectedAddress, new { @class = "form-control", id = "address-search", style = "width: 100%" })
                            @Html.ValidationMessageFor(model => model.AddressId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SearchInAarhus, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.SearchInAarhus, new { id = "aarhusAddresses", @checked = "", @class = "checkbox" })
                            @Html.ValidationMessageFor(model => model.SearchInAarhus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TemporaryAddress, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.TemporaryAddress, new { id = "temporaryAddressNameCheckbox", @class = "checkbox" })
                            @Html.ValidationMessageFor(model => model.TemporaryAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TemporaryAddressName, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.TemporaryAddressName, new { htmlAttributes = new { id = "temporaryAddressNameTextfield", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TemporaryAddressName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ExpectedStartDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ExpectedStartDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ExpectedStartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ExpectedEndDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ExpectedEndDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ExpectedEndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EDoc, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EDoc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EDoc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control description" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectStatusId, new { @class = "control-label col-md-4" })
                        <div class="col-md-7">
                            @Html.DropDownListFor(m => m.ProjectStatusId, ViewBag.ProjectStatusList as List<SelectListItem>, "Vælg status", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectStatusId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1 status-info-icon">
                            <a href="@(Url.Content("~/Status/") + ViewBag.StatusExplanationURL)" target="_blank"><span class="glyphicon glyphicon-question-sign text-info"></span></a>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Note, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control note" } })
                            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StreetTypeId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.StreetTypeId, ViewBag.StreetTypeList as List<SelectListItem>, "Vælg vejtype", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StreetTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TeamId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("TeamId", ViewBag.TeamList as List<SelectListItem>, "Vælg team", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TeamId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectLeaderId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.ProjectLeaderId, ViewBag.ProjectLeaderList as List<SelectListItem>, "Vælg projektleder", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectLeaderId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RequestorId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.RequestorId, ViewBag.RequestorList as List<SelectListItem>, "Vælg rekvirent", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RequestorId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CouncilPriorityId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.CouncilPriorityId, ViewBag.CouncilPriorityList as List<SelectListItem>, "Vælg prioritet", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CouncilPriorityId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MunicipalityPriorityId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.MunicipalityPriorityId, ViewBag.MunicipalityPriorityList as List<SelectListItem>, "Vælg prioritet", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MunicipalityPriorityId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Budget, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control", id = "budget-input" } })
                            @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PlanningId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.PlanningId, ViewBag.PlanningList as List<SelectListItem>, "Vælg plan", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PlanningId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OneYearReview, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.OneYearReview, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OneYearReview, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FiveYearReview, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.FiveYearReview, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FiveYearReview, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second column for lists-->
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Rådgivers virksomhed", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("CompanyId", ViewBag.CompanyList as List<SelectListItem>, "Vælg virksomhed", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AdvisorId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.AdvisorId, ViewBag.AdvisorList as List<SelectListItem>, "Vælg rådgiver", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AdvisorId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Entreprenørs virksomhed", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("EntrepreneurCompanyId", ViewBag.EntrepreneurCompanyList as List<SelectListItem>, "Vælg virksomhed", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EntrepreneurId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.EntrepreneurId, ViewBag.EntrepreneurList as List<SelectListItem>, "Vælg entreprenør", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EntrepreneurId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LocalCommunityId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.LocalCommunityId, ViewBag.LocalCommunityList as List<SelectListItem>, "Vælg lokalsamfund", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LocalCommunityId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CouncilId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.CouncilId, ViewBag.CouncilList as List<SelectListItem>, "Vælg fællesråd", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CouncilId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectCategoryId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.ProjectCategoryId, ViewBag.ProjectCategoryList as List<SelectListItem>, "Vælg projektkategori", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectCategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConstructionProgramId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.ConstructionProgramId, ViewBag.ConstructionProgramList as List<SelectListItem>, "Vælg anlægsprogram", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ConstructionProgramId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.InconvenienceId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.InconvenienceId, ViewBag.InconvenienceList as List<SelectListItem>, "Vælg gener", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.InconvenienceId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TrafficInconvenienceId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.TrafficInconvenienceId, ViewBag.TrafficInconvenienceList as List<SelectListItem>, "Vælg trafikale gener", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TrafficInconvenienceId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" id='drop_zone'>
                        <div class="row" align="left" style="color: black; font-size: 11px">
                            Tegninger skal være målfaste
                        </div>
                        <button type="button" class='btn-danger' id="removeAllImages">X</button>
                        <div action="@Url.Action("SaveUploadedFile", "Project")" class='dropzone' id='myDropZone'></div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Log, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Log, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Log, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="form-group">
                    <input type="button" id="submit" value="Opret" class="btn btn-success" />
                    <input type="submit" id="hidden-submit" value="Opret" class="btn btn-success" style="display: none;" />
                </div>
            </div>
        </div>
    }
</div>
@Html.ActionLink("Tilbage til listen", "Index")

@section Scripts {
    <script type="text/javascript">
        $(function () {

            // Populate advisor dropdown based on teamId
            var teamDropdown = $('#TeamId');
            var projectLeaderDropdown = $('#ProjectLeaderId');

            // on select teamDropdown change
            teamDropdown.change(function () {
                var teamId = $(this).val();

                // get all advisors where team id matches
                $.get('/ProjectLeader/ProjectLeadersWithTeamId?teamId=' + teamId, function (data) {

                    // clear all existing options
                    projectLeaderDropdown.text('');

                    // populate projectLeaderDropdown
                    if (data.length === 0)
                        projectLeaderDropdown.append($("<option />").val(undefined).text("Ingen projektledere for teamet"));

                    $.each(data, function (idx) {
                        if (idx === 0) {
                            projectLeaderDropdown.append($("<option />").val(undefined).text("Vælg projektleder"));
                            projectLeaderDropdown.append($("<option />").val(this.Id).text(this.Name));
                        } else {
                            projectLeaderDropdown.append($("<option />").val(this.Id).text(this.Name));
                        }
                    });
                });
            });

            // Populate advisor dropdown based on companyId
            var companyDropdown = $('#CompanyId');
            var advisorDropdown = $('#AdvisorId');

            // on select companyDropdown change
            companyDropdown.change(function () {
                var companyId = $(this).val();

                // get all advisors where company id matches
                $.get('/Advisor/AdvisorsWithCompanyId?companyId=' + companyId, function (data) {

                    // clear all existing options
                    advisorDropdown.text('');

                    // populate advisorDropdown
                    if (data.length === 0)
                        advisorDropdown.append($("<option />").val(undefined).text("Ingen rådgivere for virksomheden"));

                    $.each(data, function (idx) {
                        if (idx === 0) {
                            advisorDropdown.append($("<option />").val(undefined).text("Vælg rådgiver"));
                            advisorDropdown.append($("<option />").val(this.Id).text(this.ResponsiblePersonName));
                        } else {
                            advisorDropdown.append($("<option />").val(this.Id).text(this.ResponsiblePersonName));
                        }
                    });
                });
            });

            // Populate entrepreneur dropdown based on companyId
            var entrepreneurCompanyDropdown = $('#EntrepreneurCompanyId');
            var entrepreneurDropdown = $('#EntrepreneurId');

            // on select companyDropdown change
            entrepreneurCompanyDropdown.change(function () {
                var entrepreneurCompanyId = $(this).val();

                // get all advisors where company id matches
                $.get('/Entrepreneur/EntrepreneursWithCompanyId?companyId=' + entrepreneurCompanyId, function (data) {

                    // clear all existing options
                    entrepreneurDropdown.text('');

                    // populate advisorDropdown
                    if (data.length === 0)
                        entrepreneurDropdown.append($("<option />").val(undefined).text("Ingen entreprenører for virksomheden"));

                    $.each(data, function (idx) {
                        if (idx === 0) {
                            entrepreneurDropdown.append($("<option />").val(undefined).text("Vælg entreprenør"));
                            entrepreneurDropdown.append($("<option />").val(this.Id).text(this.ResponsiblePersonName));
                        } else {
                            entrepreneurDropdown.append($("<option />").val(this.Id).text(this.ResponsiblePersonName));
                        }
                    });
                });
            });

            // Populate council based on groupId
            var groupDropdown = $('#GroupId');
            var councilDropdown = $('#CouncilId');

            // on select groupDropdown change
            var groupId;

            groupDropdown.change(function (event) {
                groupId = $(event.target).val();

                if (groupId === null || groupId === undefined)
                    groupId = '';

                // get all advisors where company id matches
                $.get('/Council/CouncilsWithGroupId?groupId=' + groupId, function (data) {

                    // clear all existing options
                    councilDropdown.text('');

                    // populate advisorDropdown
                    if (data.length === 0)
                        councilDropdown.append($("<option />").val(undefined).text("Ingen fællesråd for gruppen"));

                    $.each(data, function (idx) {
                        if (idx === 0) {
                            councilDropdown.append($("<option />").val(undefined).text("Vælg fællesråd"));
                            councilDropdown.append($("<option />").val(this.Id).text(this.Name));
                        } else {
                            councilDropdown.append($("<option />").val(this.Id).text(this.Name));
                        }
                    });
                });
            });

            // File upload
            var index = 0;
            var responseIndex = 0;
            var submit = $('#submit');
            var hiddenSubmit = $('#hidden-submit');
            Dropzone.autoDiscover = true;
            Dropzone.options.myDropZone = {
                init: function () {
                    myDropZone = this;
                    submit.click(function () {
                        // get jquery validator state
                        var form = $("#form");
                        form.validate();
                        if (form.valid() == true) {
                            myDropZone.processQueue();
                            if (responseIndex == index) {
                                hiddenSubmit.click();
                            }
                        }
                    }),
                        $("#removeAllImages").click(function () {
                            myDropZone.removeAllFiles();
                            index = 0;
                            responseIndex = 0;
                        });
                    this.on("processing", function () {
                        this.options.autoProcessQueue = true;
                    });
                    this.on("success", function (data) {
                        var res = JSON.parse(data.xhr.responseText);

                        // hidden elements to send to server
                        var guid = Dropzone.createElement("<input hidden name = 'Documents[" + responseIndex + "].Guid' value = " + res.Guid.toString() + ">");

                        responseIndex++;
                        var dropzone = $('#drop_zone');
                        dropzone.append(guid);
                        if (responseIndex == index)
                            hiddenSubmit.click();
                    });
                    this.on('sending', function (file, xhr, formData) {
                        var comment = file.previewElement.lastElementChild.value;
                        formData.append('comment', comment);
                    });
                    this.on("addedfile", function (file) {
                        while ($('#' + index).length !== 0) {
                            index++;
                        }

                        // Create the remove button
                        var commentField = Dropzone.createElement(
                            "<textarea id = '" + index + "' class = 'doc-text-area' name = 'Documents[" + index + "].Comment'>");
                        index++;
                        var removeButton = Dropzone.createElement(
                            "<button class='btn-danger'>Slet fil</button>");
                        // Capture the Dropzone instance as closure.
                        var _this = this;

                        // Listen to the click event
                        removeButton.addEventListener("click", function (e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();

                            // decrement index
                            index--;

                            // Remove the file preview.
                            _this.removeFile(file);
                        });

                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                        file.previewElement.appendChild(commentField);

                        //Chaning the information placed in the size attribute to show file extentions instead.
                        //Dropzone does not seem to allow custom fields to be added to its template,
                        //making this hack necessary in order to overwrite default behaviour
                        var dzElement = $("#" + (index - 1)).parent();

                        var split = file.name.split(".");
                        var fileExtension = split[split.length - 1];
                        var sizeField = dzElement.find('.dz-size span:first-child');
                        sizeField.html("<strong>" + fileExtension + "</strong>");

                        //Hack to fake the upload without uploading the file
                        var progressBar = dzElement.find('.dz-progress .dz-upload');
                        $(progressBar).width("100%");

                        //Hack to fake success and complete
                        $(dzElement).addClass("dz-success dz-complete");
                    });

                },
                dictDefaultMessage: "Træk og slip for at uploade dokumenter. Max 1 GB",
                uploadMultiple: false,
                autoProcessQueue: false,
                paramName: "file",
                maxFilesize: 1000,
            };

            // Set 1 review
            $('#ExpectedEndDate').on('change', function () {
                var d = $.datepicker.parseDate('dd-mm-yy', this.value);
                d.setFullYear(d.getFullYear() + 1);
                var formatedDate = $.datepicker.formatDate('dd-mm-yy', d);
                $('#OneYearReview').val(formatedDate);
            });

            // Set 5 year review
            $('#ExpectedEndDate').on('change', function () {
                var d = $.datepicker.parseDate('dd-mm-yy', this.value);
                d.setFullYear(d.getFullYear() + 5);
                var formatedDate = $.datepicker.formatDate('dd-mm-yy', d);
                $('#FiveYearReview').val(formatedDate);
            });

            // temporary address configuration
            setupPartnerDiscussionElements("temporaryAddressNameCheckbox", "temporaryAddressNameTextfield");
        });
    </script>
}
