﻿@model Presentation.Web.Models.Project.IndexProjectViewModel
@{
    ViewBag.Title = "Bekræft sletning";
}

<h2>Bekræft sletning</h2>

@Html.Partial("CreatedModifiedPartialView")
<hr class="hidden-xs" />

<h3>Er du sikker på at du vil slette projektet?</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Id)</dt>
                <dd>@Html.DisplayFor(model => model.Id)</dd>

                <dt>@Html.DisplayNameFor(model => model.AddressName)</dt>
                <dd>@Html.DisplayFor(model => model.AddressName)</dd>

                <dt>@Html.DisplayNameFor(model => model.TemporaryAddress)</dt>
                <dd>@Html.DisplayFor(model => model.TemporaryAddress)</dd>

                @if (Model.TemporaryAddress)
                {
                    <dt>@Html.DisplayNameFor(model => model.TemporaryAddressName)</dt>
                    <dd>@Html.DisplayFor(model => model.TemporaryAddressName)</dd>
                }

                <dt>@Html.DisplayNameFor(model => model.TopicName)</dt>
                <dd>@Html.DisplayFor(model => model.TopicName)</dd>

                <dt>@Html.DisplayNameFor(model => model.ExpectedStartDate)</dt>
                <dd>@Html.DisplayFor(model => model.ExpectedStartDate)</dd>

                <dt>@Html.DisplayNameFor(model => model.ExpectedEndDate)</dt>
                <dd>@Html.DisplayFor(model => model.ExpectedEndDate)</dd>

                <dt>@Html.DisplayNameFor(model => model.EDoc)</dt>
                <dd>
                    <a href="@Html.DisplayFor(model => model.EDoc)" target="_blank">
                        Link til eDoc
                    </a>
                </dd>

                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                    <dd>
                        <div class="description-details">
                            @Html.DisplayFor(model => model.Description)
                        </div>
                    </dd>
                }

                <dt>@Html.DisplayNameFor(model => model.ProjectStatus)</dt>
                <dd>@Html.DisplayFor(model => model.ProjectStatus.Status)</dd>

                @if (!string.IsNullOrEmpty(Model.Note))
                {
                    <dt>@Html.DisplayNameFor(model => model.Note)</dt>
                    <dd class="note-details">@Html.DisplayFor(model => model.Note)</dd>
                }

                <dt>@Html.DisplayNameFor(model => model.StreetTypeType)</dt>
                <dd>@Html.DisplayFor(model => model.StreetTypeType)</dd>

                <dt>@Html.DisplayNameFor(model => model.ProjectLeader)</dt>
                <dd>
                    @if (Model.ProjectLeader != null)
                    {
                        <b>Navn: </b>
                        @Html.DisplayFor(model => model.ProjectLeader.Name)
                        <br />
                        <b>Initialer: </b>
                        @Html.DisplayFor(model => model.ProjectLeader.Initials)
                        <br />
                        <b>Aktiv: </b>
                        @Html.DisplayFor(model => model.ProjectLeader.IsActive)
                    }
                </dd>

                <dt>@Html.DisplayNameFor(model => model.Requestor)</dt>
                <dd>@Html.DisplayFor(model => model.Requestor.Name)</dd>

                <dt>@Html.DisplayNameFor(model => model.CouncilPriorityPriority)</dt>
                <dd>@Html.DisplayFor(model => model.CouncilPriorityPriority)</dd>

                <dt>@Html.DisplayNameFor(model => model.MunicipalityPriorityPriority)</dt>
                <dd>@Html.DisplayFor(model => model.MunicipalityPriorityPriority)</dd>

                <dt>@Html.DisplayNameFor(model => model.Budget)</dt>
                <dd>@Html.DisplayFor(model => model.Budget)</dd>

                <dt>@Html.DisplayNameFor(model => model.Planning)</dt>
                <dd>@Html.DisplayFor(model => model.Planning.Plan)</dd>

                <dt>@Html.DisplayNameFor(model => model.OneYearReview)</dt>
                <dd>@Html.DisplayFor(model => model.OneYearReview)</dd>

                <dt>@Html.DisplayNameFor(model => model.FiveYearReview)</dt>
                <dd>@Html.DisplayFor(model => model.FiveYearReview)</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Advisor)</dt>
                <dd>
                    @if (Model.Advisor != null)
                    {
                        <b>Virksomhed: </b>
                        @Html.DisplayFor(model => model.Advisor.Company.Name)
                        <br />
                        <b>Ansvarlig person: </b>
                        @Html.DisplayFor(model => model.Advisor.ResponsiblePersonName)
                        <br />
                        <b>Telefonnummer: </b>
                        @Html.DisplayFor(model => model.Advisor.ResponsiblePersonPhoneNumber)
                    }
                </dd>

                <dt>@Html.DisplayNameFor(model => model.Entrepreneur)</dt>
                <dd>
                    @if (Model.Entrepreneur != null)
                    {
                        <b>Virksomhed: </b>
                        @Html.DisplayFor(model => model.Entrepreneur.Company.Name)
                        <br />
                        <b>Ansvarlig person: </b>
                        @Html.DisplayFor(model => model.Entrepreneur.ResponsiblePersonName)
                        <br />
                        <b>Telefonnummer: </b>
                        @Html.DisplayFor(model => model.Entrepreneur.ResponsiblePersonPhoneNumber)
                    }
                </dd>

                <dt>@Html.DisplayNameFor(model => model.ProjectCategory)</dt>
                <dd>@Html.DisplayFor(model => model.ProjectCategory.Category)</dd>

                <dt>@Html.DisplayNameFor(model => model.Council.Group)</dt>
                <dd>@Html.DisplayFor(model => model.Council.Group.Name)</dd>

                <dt>@Html.DisplayNameFor(model => model.ConstructionProgram)</dt>
                <dd>@Html.DisplayFor(model => model.ConstructionProgram.YearOfProjectInvolvement)</dd>

                <dt>@Html.DisplayNameFor(model => model.LocalCommunity)</dt>
                <dd>@Html.DisplayFor(model => model.LocalCommunity.Name)</dd>

                <dt>@Html.DisplayNameFor(model => model.Council)</dt>
                <dd>@Html.DisplayFor(model => model.Council.Name)</dd>

                <dt>@Html.DisplayNameFor(model => model.Log)</dt>
                <dd>@Html.DisplayFor(model => model.Log)</dd>

                <dt>@Html.DisplayNameFor(model => model.Inconvenience)</dt>
                <dd>@Html.DisplayFor(model => model.Inconvenience.Description)</dd>

                <dt>@Html.DisplayNameFor(model => model.TrafficInconvenience)</dt>
                <dd>@Html.DisplayFor(model => model.TrafficInconvenience.Description)</dd>

                <dt>@Html.DisplayNameFor(model => model.Documents)</dt>
                @foreach (var doc in Model.Documents)
                {
                    <dd>
                        <a href="@Url.Action("Download", "Project", new { guid=doc.Guid })">@doc.FileName</a>
                    </dd>
                    <dd class="bg-info">
                        @Html.DisplayFor(model => doc.Comment)
                    </dd>
                    <br/>
                }
            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Slet" class="btn btn-danger" /> | @Html.ActionLink("Gå tilbage", "Index") | @Html.ActionLink("Rediger", "Edit", new { id = Model.Id })
            </div>
        </div>
    }
</div>
