﻿@model Presentation.Web.Models.Project.EditProjectViewModel
@{
    ViewBag.Title = "Rediger projekt";
}

<h2>Rediger projekt</h2>

@Html.Partial("CreatedModifiedPartialView")
<hr class="hidden-xs" />

<div class="container">
    @using (Html.BeginForm("Edit", "Project", FormMethod.Post, new { id = "form" }))
    {
        @Html.HiddenFor(model => model.CreatedOn)
        @Html.HiddenFor(model => model.CreatedBy)

        <div class="row">
            <div class="col-md-6">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.HiddenFor(model => model.CreatedOn)

                    <div class="form-group">
                        @Html.LabelFor(model => model.TopicId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.TopicId, ViewBag.TopicList as List<SelectListItem>, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TopicId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.AddressId, new { @class = "control-label col-md-4" })
                        <div id="addressSearchContainer" class="col-md-8">
                            @{
                                var addressList = new List<SelectListItem>
                                {
                                    new SelectListItem(), // To enable dropdown clearing with select2
                                    new SelectListItem {Text = Model.AddressName, Value = Guid.Empty.ToString(), Selected = true }
                                };
                            }
                            @Html.DropDownListFor(model => model.AddressId, addressList, new { @class = "form-control", id = "address-search", style = "width: 100%" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SearchInAarhus, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.SearchInAarhus, new { id = "aarhusAddresses", @checked = "", @class = "checkbox" })
                            @Html.ValidationMessageFor(model => model.SearchInAarhus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TemporaryAddress, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.CheckBoxFor(model => model.TemporaryAddress, new { id = "temporaryAddressNameCheckbox", @class = "checkbox" })
                            @Html.ValidationMessageFor(model => model.TemporaryAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TemporaryAddressName, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.TemporaryAddressName, new { htmlAttributes = new { id = "temporaryAddressNameTextfield", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TemporaryAddressName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ExpectedStartDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ExpectedStartDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ExpectedStartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ExpectedEndDate, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ExpectedEndDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ExpectedEndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EDoc, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.EDoc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EDoc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control description" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectStatusId, new { @class = "control-label col-md-4" })
                        <div class="col-md-7">
                            @Html.DropDownListFor(model => model.ProjectStatusId, ViewBag.ProjectStatusList as List<SelectListItem>, "Vælg status", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProjectStatusId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-1 status-info-icon">
                            <a href="@(Url.Content("~/Status/") + ViewBag.StatusExplanationURL)" target="_blank"><span class="glyphicon glyphicon-question-sign text-info"></span></a>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Note, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control note" } })
                            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StreetTypeId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.StreetTypeId, ViewBag.StreetTypeList as List<SelectListItem>, "Vælg vejtype", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.StreetTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TeamId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("TeamId", ViewBag.TeamList as List<SelectListItem>, "Vælg team", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TeamId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectLeaderId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.ProjectLeaderId, ViewBag.ProjectLeaderList as List<SelectListItem>, "Vælg projektleder", htmlAttributes: new { @class = "form-control" })
                            @if (ViewBag.IsProjectLeaderDeleted != null && ViewBag.IsProjectLeaderDeleted)
                            {
                                <span class="text-danger">Den aktuelle projektleder er slettet. Hvis den fravælges kan den ikke findes igen.</span>
                            }
                            @Html.ValidationMessageFor(model => model.ProjectLeaderId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RequestorId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.RequestorId, ViewBag.RequestorList as List<SelectListItem>, "Vælg rekvirent", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RequestorId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CouncilPriorityId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.CouncilPriorityId, ViewBag.CouncilPriorityList as List<SelectListItem>, "Vælg prioritet", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CouncilPriorityId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                @Html.LabelFor(model => model.MunicipalityPriorityId, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.MunicipalityPriorityId, ViewBag.MunicipalityPriorityList as List<SelectListItem>, "Vælg prioritet", new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.MunicipalityPriorityId, "", new {@class = "text-danger"})
                </div>
            </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Budget, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control", id = "budget-input" } })
                            @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PlanningId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.PlanningId, ViewBag.PlanningList as List<SelectListItem>, "Vælg plan", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PlanningId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OneYearReview, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.OneYearReview, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OneYearReview, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FiveYearReview, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.FiveYearReview, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FiveYearReview, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <!-- Second column for lists-->
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Rådgivers virksomhed", new {@class = "control-label col-md-3"})
                        <div class="col-md-9">
                            @Html.DropDownList("CompanyId", ViewBag.CompanyList as List<SelectListItem>, "Vælg virksomhed", new {@class = "form-control"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.AdvisorId, new {@class = "control-label col-md-3"})
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.AdvisorId, ViewBag.AdvisorList as List<SelectListItem>, "Vælg rådgiver", new {@class = "form-control"})
                            @if (ViewBag.IsAdvisorDeleted != null && ViewBag.IsAdvisorDeleted)
                            {
                                <span class="text-danger">Den aktuelle rådgiver er slettet. Hvis den fravælges kan den ikke findes igen.</span>
                            }
                            @Html.ValidationMessageFor(model => model.AdvisorId, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Entreprenørs virksomhed", new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("EntrepreneurCompanyId", ViewBag.EntrepreneurCompanyList as List<SelectListItem>, "Vælg virksomhed", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EntrepreneurId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.EntrepreneurId, ViewBag.EntrepreneurList as List<SelectListItem>, "Vælg entreprenør", new { @class = "form-control" })
                            @if (ViewBag.IsEntrepreneurDeleted != null && ViewBag.IsEntrepreneurDeleted)
                            {
                                <span class="text-danger">Den aktuelle entreprnør er slettet. Hvis den fravælges kan den ikke findes igen.</span>
                            }
                            @Html.ValidationMessageFor(model => model.EntrepreneurId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LocalCommunityId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.LocalCommunityId, ViewBag.LocalCommunityList as List<SelectListItem>, "Vælg lokalsamfund", htmlAttributes: new { @class = "form-control" })
                            @if (ViewBag.IsLocalCommunityDeleted != null && ViewBag.IsLocalCommunityDeleted)
                            {
                                <span class="text-danger">Det aktuelle lokalsamfund er slettet. Hvis den fravælges kan den ikke findes igen.</span>
                            }
                            @Html.ValidationMessageFor(model => model.LocalCommunityId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CouncilId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.CouncilId, ViewBag.CouncilList as List<SelectListItem>, "Vælg fællesråd", htmlAttributes: new { @class = "form-control" })
                            @if (ViewBag.IsCouncilDeleted != null && ViewBag.IsCouncilDeleted)
                            {
                                <span class="text-danger">Det aktuelle fællesråd er slettet. Hvis den fravælges kan den ikke findes igen.</span>
                            }
                            @Html.ValidationMessageFor(model => model.CouncilId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProjectCategoryId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.ProjectCategoryId, ViewBag.ProjectCategoryList as List<SelectListItem>, "Vælg projektkategori", htmlAttributes: new { @class = "form-control" })
                            @if (ViewBag.IsProjectCategoryDeleted != null && ViewBag.IsProjectCategoryDeleted)
                            {
                                <span class="text-danger">Det aktuelle anlægsprogram er slettet. Hvis den fravælges kan den ikke findes igen.</span>
                            }
                            @Html.ValidationMessageFor(model => model.ProjectCategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConstructionProgramId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.ConstructionProgramId, ViewBag.ConstructionProgramList as List<SelectListItem>, "Vælg anlægsprogram", new { @class = "form-control" })
                            @if (ViewBag.IsConstructionProgramDeleted != null && ViewBag.IsConstructionProgramDeleted)
                            {
                                <span class="text-danger">Det aktuelle anlægsprogram er slettet. Hvis den fravælges kan den ikke findes igen.</span>
                            }
                            @Html.ValidationMessageFor(model => model.ConstructionProgramId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.InconvenienceId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.InconvenienceId, ViewBag.InconvenienceList as List<SelectListItem>, "Vælg gener", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.InconvenienceId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TrafficInconvenienceId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(m => m.TrafficInconvenienceId, ViewBag.TrafficInconvenienceList as List<SelectListItem>, "Vælg trafikale gener", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TrafficInconvenienceId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" id='drop_zone'>
                        <div class="row" align="left" style="color: black; font-size: 11px">
                            Tegninger skal være målfaste
                        </div>
                        <button type="button" class='btn-danger' id="removeAllImages">X</button>
                        <div action="@Url.Action("SaveUploadedFile", "Project")" class='dropzone' id='myDropZone'></div>
                        @for (int i = 0; i < Model.Documents.Count; i++)
                        {
                            @Html.HiddenFor(model => model.Documents[i].Guid)
                        }
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Log, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Log, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Log, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="form-group">
                    <input type="button" value="Gem" class="btn btn-success" id="submit" />
                    <input type="submit" value="Gem" class="btn btn-success" id="hidden-submit" style="display: none;" />
                </div>
            </div>
        </div>
    }
</div>

@Html.ActionLink("Tilbage til listen", "Index")

@section Scripts {
    <script>
        $(function() {

            // Store the original address as a placeholder.
            var addressNameTextfield = $("#addressNameTextfield");
            addressNameTextfield.on("input", function() {

                // Present the select 2/aws address search function when editing.
                $("#addressPreviousContainer").hide();
                $("#addressSearchContainer").show();
                $("#address-search").select2("open");

                // Load the previous value into the search field.
                $(".select2-search__field").val(addressNameTextfield.val());
            });

            // Populate advisor dropdown based on teamId
            var teamDropdown = $('#TeamId');
            var projectLeaderDropdown = $('#ProjectLeaderId');

            // on select teamDropdown change
            teamDropdown.change(function () {
                var teamId = $(this).val();

                // get all advisors where team id matches
                $.get('/ProjectLeader/ProjectLeadersWithTeamId?teamId=' + teamId, function (data) {

                    // clear all existing options
                    projectLeaderDropdown.text('');

                    // populate projectLeaderDropdown
                    if (data.length === 0)
                        projectLeaderDropdown.append($("<option />").val(undefined).text("Ingen projektledere for teamet"));

                    $.each(data, function (idx) {
                        if (idx === 0) {
                            projectLeaderDropdown.append($("<option />").val(undefined).text("Vælg projektleder"));
                            projectLeaderDropdown.append($("<option />").val(this.Id).text(this.Name));
                        } else {
                            projectLeaderDropdown.append($("<option />").val(this.Id).text(this.Name));
                        }
                    });
                });
            });

            // Populate advisor dropdown based on companyId
            var companyDropdown = $('#CompanyId');
            var advisorDropdown = $('#AdvisorId');

            // on select companyDropdown change
            companyDropdown.change(function() {
                var companyId = $(this).val();

                // get all advisors where company id matches
                $.get('/Advisor/AdvisorsWithCompanyId?companyId=' + companyId, function(data) {

                    // clear all existing options
                    advisorDropdown.text('');

                    // populate advisorDropdown
                    if(data.length === 0)
                        advisorDropdown.append($("<option />").val(undefined).text("Ingen rådgivere for virksomheden"));

                    $.each(data, function(idx) {
                        if (idx === 0) {
                            advisorDropdown.append($("<option />").val(undefined).text("Vælg rådgiver"));
                            advisorDropdown.append($("<option />").val(this.Id).text(this.ResponsiblePersonName));
                        } else {
                            advisorDropdown.append($("<option />").val(this.Id).text(this.ResponsiblePersonName));
                        }
                    });
                });
            });

            // Populate entrepreneur dropdown based on companyId
            var entrepreneurCompanyDropdown = $('#EntrepreneurCompanyId');
            var entrepreneurDropdown = $('#EntrepreneurId');

            // on select companyDropdown change
            entrepreneurCompanyDropdown.change(function () {
                var entrepreneurCompanyId = $(this).val();

                // get all advisors where company id matches
                $.get('/Entrepreneur/EntrepreneursWithCompanyId?companyId=' + entrepreneurCompanyId, function (data) {

                    // clear all existing options
                    entrepreneurDropdown.text('');

                    // populate advisorDropdown
                    if (data.length === 0)
                        entrepreneurDropdown.append($("<option />").val(undefined).text("Ingen entreprenører for virksomheden"));

                    $.each(data, function (idx) {
                        if (idx === 0) {
                            entrepreneurDropdown.append($("<option />").val(undefined).text("Vælg entreprenør"));
                            entrepreneurDropdown.append($("<option />").val(this.Id).text(this.ResponsiblePersonName));
                        } else {
                            entrepreneurDropdown.append($("<option />").val(this.Id).text(this.ResponsiblePersonName));
                        }
                    });
                });
            });

            // Populate council based on groupId
            var groupDropdown = $('#GroupId');
            var councilDropdown = $('#CouncilId');

            // on select groupDropdown change
            var groupId;

            groupDropdown.change(function (event) {
                groupId = $(event.target).val();

                if (groupId === null || groupId === undefined)
                    groupId = '';

                // get all advisors where company id matches
                $.get('/Council/CouncilsWithGroupId?groupId=' + groupId, function (data) {

                    // clear all existing options
                    councilDropdown.text('');

                    // populate advisorDropdown
                    if (data.length === 0)
                        councilDropdown.append($("<option />").val(undefined).text("Ingen fællesråd for gruppen"));

                    $.each(data, function (idx) {
                        if (idx === 0) {
                            councilDropdown.append($("<option />").val(undefined).text("Vælg fællesråd"));
                            councilDropdown.append($("<option />").val(this.Id).text(this.Name));
                        } else {
                            councilDropdown.append($("<option />").val(this.Id).text(this.Name));
                        }
                    });
                });
            });

            //Add existing files into dropzone
            var existingFiles = [
                @for (int i = 0; i < Model.Documents.Count; i++)
                {
                    @:{ name: "@Html.Raw(Model.Documents[i].FileName)", size: @Model.Documents[i].FileSize.ToString("F0"), comment: "@Model.Documents[i].Comment", existing: true },
                }
            ];

            // File upload
            var index = 0;
            var responseIndex = 0;
            var submit = $('#submit');
            var hiddenSubmit = $('#hidden-submit');

            // reorder files so array is unbroken and zerobased
            function reorderFileNames() {
                var newIndex = 0;

                // get all names of files and set their order from 0
                for (var i = 0; i <= index; i++) {
                    var guidId = "#Documents_" + i + "__Guid";
                    var commentId = "#" + i + "";
                    var guidToReorder = $(guidId);
                    var commentToReorder = $(commentId);

                    // if elements found, set new index and increment
                    if (guidToReorder.length) {
                        // set names of guid and comment
                        guidToReorder.attr('name', 'Documents[' + newIndex + '].Guid');
                        commentToReorder.attr('name', 'Documents[' + newIndex + '].Comment');
                        newIndex++;
                    }
                }
            }

            Dropzone.autoDiscover = true;

            Dropzone.options.myDropZone = {
                init: function() {
                    myDropZone = this;

                    submit.click(function() {
                            // get jquery validator state
                            var form = $("#form");
                            form.validate();
                            if (form.valid() == true) {
                                myDropZone.processQueue();
                                if (responseIndex == index) {
                                    reorderFileNames();
                                    hiddenSubmit.click();
                                }
                            }
                        }),
                        $("#removeAllImages").click(function() {

                            // remove exsisting files
                            for (var i = 0; i < existingFiles.length; i++) {
                                tempFile = existingFiles[i];
                                myDropZone.removeFile(tempFile);

                                // remove guid
                                // getting id from comment field
                                var indexToRemove = tempFile.previewElement.lastElementChild.id;
                                idToRemove = "#Documents_" + indexToRemove + "__Guid";
                                guidToRemove = $(idToRemove);
                                guidToRemove.remove();

                            }

                            myDropZone.removeAllFiles();
                            index = 0;
                            responseIndex = 0;
                        });
                    this.on("processing", function() {
                        this.options.autoProcessQueue = true;
                    });
                    this.on("success", function(data) {
                        var res = JSON.parse(data.xhr.responseText);
                        console.debug(res);

                        // hidden elements to send to server
                        var guid = Dropzone.createElement("<input hidden id = 'Documents_" + responseIndex + "__Guid' name = 'Documents[" + responseIndex + "].Guid' value = " + res.Guid.toString() + ">");

                        responseIndex++;

                        var dropzone = $('#drop_zone');
                        dropzone.append(guid);
                        if (responseIndex == index) {
                            reorderFileNames();
                            hiddenSubmit.click();
                        }
                    });
                    this.on('sending', function(file, xhr, formData) {
                        var comment = file.previewElement.lastElementChild.value;
                        var id = @Model.Id;
                        formData.append('comment', comment);
                        formData.append('id', id);
                    });
                    this.on("addedfile", function(file, commentText) {

                        if (commentText === undefined)
                            commentText = '';

                        // Create the remove button
                        var commentField = Dropzone.createElement(
                            "<textarea id = '" + index + "' class = 'doc-text-area' name = 'Documents[" + index + "].Comment'>" + commentText + "</textarea>");

                        index++;
                        var removeButton = Dropzone.createElement(
                            "<button class='btn-danger'>Slet fil</button>");
                        // Capture the Dropzone instance as closure.
                        var _this = this;

                        // Listen to the click event
                        removeButton.addEventListener("click", function(e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();

                            // decrement index
                            index--;

                            // if exsisting decrement responseindex, because it is already set +1
                            if (file.existing)
                                responseIndex--;

                            // remove guid
                            var indexToRemove = file.previewElement.lastElementChild.id;
                            idToRemove = "#Documents_" + indexToRemove + "__Guid";
                            guidToRemove = $(idToRemove);
                            guidToRemove.remove();

                            // Remove the file preview.
                            _this.removeFile(file);
                        });

                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                        file.previewElement.appendChild(commentField);

                        //Chaning the information placed in the size attribute to show file extentions instead.
                        //Dropzone does not seem to allow custom fields to be added to its template,
                        //making this hack necessary in order to overwrite default behaviour
                        var dzElement = $("#" + (index - 1)).parent();

                        var split = file.name.split(".");
                        var fileExtension = split[split.length - 1];
                        var sizeField = dzElement.find('.dz-size span:first-child');
                        sizeField.html("<strong>" + fileExtension + "</strong>");

                        //Hack to fake the upload without uploading the file
                        var progressBar = dzElement.find('.dz-progress .dz-upload');
                        $(progressBar).width("100%");

                        //Hack to fake success and compelte
                        $(dzElement).addClass("dz-success dz-complete");
                    });
                    for (var i = 0; i < existingFiles.length; i++) {
                        // count of response index, even though the exsisting files are just added
                        responseIndex++;

                        file = existingFiles[i];
                        myDropZone.emit("addedfile", file, existingFiles[i].comment);
                        myDropZone.emit("complete", file);
                    }
                },
                dictDefaultMessage: "Træk og slip for at uploade dokumenter",
                uploadMultiple: false,
                autoProcessQueue: false,
                paramName: "file",
                maxFilesize: 1000,
            };

            // Thousands seperator
            $("#budget-input").autoNumeric("init");

            // Set 1 review
            $('#ExpectedEndDate').on('change', function() {
                var d = $.datepicker.parseDate('dd-mm-yy', this.value);
                d.setFullYear(d.getFullYear() + 1);
                var formatedDate = $.datepicker.formatDate('dd-mm-yy', d);
                $('#OneYearReview').val(formatedDate);
            });

            // Set 5 year review
            $('#ExpectedEndDate').on('change', function () {
                var d = $.datepicker.parseDate('dd-mm-yy', this.value);
                d.setFullYear(d.getFullYear() + 5);
                var formatedDate = $.datepicker.formatDate('dd-mm-yy', d);
                $('#FiveYearReview').val(formatedDate);
            });

            // temporary address configuration
            setupPartnerDiscussionElements("temporaryAddressNameCheckbox", "temporaryAddressNameTextfield");
        });
    </script>
}
