﻿@using Presentation.Web.Helpers
@using Presentation.Web.Models.Project
@model IEnumerable<IndexProjectViewModel>

@{
    ViewBag.Title = "Projekter";
    var gridTitle = "ProjectGrid";
}
<h2 class="page-header">Projekter</h2>

<div>
    <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Opret projekt</a>
</div>

<div>
    <input type="checkbox" id="select-awaiting" @( (Response.Cookies["select-awaiting"].Value == "true") ? "checked" : "" ) />
    <text>Vis kun aktuelle projekter.</text>
</div>

@(Html.Kendo().Grid<IndexProjectViewModel>()
        .Name(gridTitle)
        .Columns(c =>
        {
            c.Bound(col => col.Id);
            c.Bound(col => col.AddressName);
            c.Bound(col => col.TopicName)
                .Filterable(x => x.UI("filterCustomizationTopic")
                .Extra(false)
                .Messages(msg => msg.Info("Filtrer rækker med valgt emne")));
            c.Bound(col => col.ExpectedStartDate);
            c.Bound(col => col.ExpectedEndDate);
            c.Bound(col => col.Description).Filterable(false).Sortable(false).ClientTemplate("# if(Description){# #=kendoTableTruncateString(Description, 100)# # } #"); // So many nullable
            c.Bound(col => col.StreetTypeType)
                .Filterable(x => x.UI("filterCustomizationStreetType")
                .Extra(false)
                .Messages(msg => msg.Info("Filtrer rækker med valgt vejtype")));
            c.Bound(col => col.ProjectLeaderName);
            c.Bound(col => col.CouncilPriorityPriority)
                .Filterable(x => x.UI("filterCustomizationCouncilPriority")
                .Extra(false)
                .Messages(msg => msg.Info("Filtrer rækker med valgt prioritet")));
            c.Bound(col => col.MunicipalityPriorityPriority)
                .Filterable(x => x.UI("filterCustomizationMunicipalityPriority")
                .Extra(false)
                .Messages(msg => msg.Info("Filtrer rækker med valgt prioritet")));
            c.Bound(col => col.TemporaryAddress).ClientTemplate("# if (TemporaryAddress === true) { #" +
                                                                  "Ja" +
                                                                  "# } else { #" +
                                                                  "Nej" +
                                                                  "# } #");
            c.Bound(col => col.Budget);
            c.Bound(col => col.ProjectStatus.Status)
                .Filterable(x => x.UI("filterCustomizationProjectStatus")
                .Extra(false)
                .Messages(msg => msg.Info("Filtrer rækker med valgt status")));

            c.Template(col => null)
               .AddCustomButton("<span class=\"glyphicon glyphicon-pencil text-success\"></span>", Url.Action("Edit", "Project"))
               .AddCustomButton("<span class=\"glyphicon glyphicon-list-alt text-warning\"></span>", Url.Action("Details", "Project"))
               .AddCustomButton("<span class=\"glyphicon glyphicon-remove text-danger\"></span>", Url.Action("Delete", "Project")).Width(1);
        })
         .Pageable(pager => pager.PageSizes(new List<int> { 10, 20, 50, 100, 200, 500 }))
         .Sortable()
         .Filterable(x => x.Mode(GridFilterMode.Menu))
         .DataSource(x =>
            x.Ajax().Sort(s => s.Add("Id").Descending())
            .Read(r => r.Action("Project_Read", "Project"))
            )
)

@Scripts.Render("~/Scripts/kendo/KendoTableHelpers.js")
@Scripts.Render("~/Scripts/CookieHelpers.js")

@section scripts
{
    <script type="text/javascript">
        function filterCustomizationTopic(element) {
            removeOperatorDropdown(element);

            // Change the text box for at dropdown with the values in the database
            element.kendoDropDownList({
                dataSource:
                    @Html.Raw(Json.Encode((ViewBag.TopicList as List<SelectListItem>).AsQueryable().Select(x => x.Text))),
                optionLabel: "Vælg emne"
            });
        }

        function filterCustomizationStreetType(element) {
            removeOperatorDropdown(element);

            // Change the text box for at dropdown with the values in the database
            element.kendoDropDownList({
                dataSource: @Html.Raw(Json.Encode((ViewBag.StreetTypeList as List<SelectListItem>).AsQueryable()
                                .Where(x => !x.Text.Contains("(Inaktiv)") && !x.Text.Contains("(Slettet)"))
                                .Select(x => x.Text))),
                optionLabel: "Vælg vejttype"
            });
        }

        function filterCustomizationCouncilPriority(element) {
            removeOperatorDropdown(element);

            // Change the text box for at dropdown with the values in the database
            element.kendoDropDownList({
                dataSource:
                    @Html.Raw(Json.Encode((ViewBag.CouncilPriorityList as List<SelectListItem>).AsQueryable().Select(x => x.Text))),
                optionLabel: "Vælg prioritet"
            });
        }

        function filterCustomizationMunicipalityPriority(element) {
            removeOperatorDropdown(element);

            // Change the text box for at dropdown with the values in the database
            element.kendoDropDownList({
                dataSource:
                    @Html.Raw(Json.Encode((ViewBag.MunicipalityPriorityList as List<SelectListItem>).AsQueryable().Select(x => x.Text))),
                optionLabel: "Vælg prioritet"
            });
        }

        function filterCustomizationProjectStatus(element) {
            removeOperatorDropdown(element);

            // Change the text box for at dropdown with the values in the database
            element.kendoDropDownList({
                dataSource:
                    @Html.Raw(Json.Encode((ViewBag.ProjectStatusList as List<SelectListItem>).AsQueryable().Select(x => x.Text))),
                optionLabel: "Vælg project status"
            });
        }

        $(function() {
            //Toggle whether to show older points.
            $('#select-awaiting').on('change',
                function(e) {
                    cbaSetCookie("select-awaiting", $(this).is(':checked') ? 'true' : 'false');
                });
            initStatePersistance("@gridTitle");

            // Toggle only showing awaiting projects
            //$('#select-awaiting').on('change', function (e) {
            //    var val = $(this).is(':checked') ? 'true' : 'false';
            //    var url = '?onlyAwaitingProjects=' + val;

            //    window.location.href = url;
            //});
        });
    </script>
}

