﻿@using Presentation.Web.Helpers
@model IEnumerable<Presentation.Web.Models.Council.IndexCouncilViewModel>

@{
    ViewBag.Title = "Fællesråd";
    var gridTitle = "CouncilGrid";
}

<h2>Fællesråd</h2>
<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Opret fællesråd</a>
    </div>
    <hr />
    @(Html.Kendo().Grid<Presentation.Web.Models.Council.IndexCouncilViewModel>()
          .Name(gridTitle)
          .Columns(c =>
          {
              c.Bound(col => col.Name);
              c.Bound(col => col.IsActive).ClientTemplate("# if (IsActive === true) { # " +
                                                          "Ja" +
                                                          "# } else { #" +
                                                          "Nej" +
                                                          "# } #");
              c.Bound(col => col.Group).ClientTemplate("#=Group.Name#")
                .Filterable(x => x.UI("filterCustomizationGroup")
                .Extra(false)
                .Messages(msg => msg.Info("Filtrer rækker med valgt gruppe")));
              c.Template(col => null)
                 .AddCustomButton("<span class=\"glyphicon glyphicon-pencil text-success\"></span>", Url.Action("Edit", "Council"))
                 .AddCustomButton("<span class=\"glyphicon glyphicon-remove text-danger\"></span>", Url.Action("Delete", "Council")).Width(1);
          })
          .Pageable(pager => pager.PageSizes(new List<int> { 10, 20, 50, 100, 200, 500 }))
          .Sortable()
          .Filterable(x => x.Mode(GridFilterMode.Menu))
          .DataSource(x => x.Ajax().Read(r => r.Action("Council_Read", "Council")))
    )
</div>

@Scripts.Render("~/Scripts/kendo/KendoTableHelpers.js")

@section scripts
{
    <script>
        $(function () {
            initStatePersistance("@gridTitle");
        });

        function filterCustomizationGroup(element) {
            removeOperatorDropdown(element);

            // Change the text box for at dropdown with the values in the database
            element.kendoDropDownList({
                dataSource: @Html.Raw(Json.Encode((ViewBag.GroupList as List<SelectListItem>).AsQueryable().Select(x => x.Text))),
                optionLabel: "Vælg gruppe"
            });
        }
    </script>
}