﻿@model HandleErrorInfo
@{
    ViewBag.Title = "Fejl";
}

@if (ViewBag.StatusCode == 403 || ViewBag.StatusCode == 401)
{
    <h1 class="text-danger">Adgang Nægtet</h1>
    <p class="text-danger">Du har ikke rettigheder til at se siden</p>
    <p class="text-danger">For at få adgang til systemet kontakt systemadministratoren</p>
}
else
{
    <h1 class="text-danger">Der opstod en fejl @ViewBag.StatusCode</h1>
    <p class="text-danger">Der opstod en ukendt fejl på siden. Prøv igen eller kontakt systemadministrator.</p>
    if (ViewBag.Message != null)
    {
        <p class="text-danger">Fejlbesked: @ViewBag.Message</p>
    }
}
