﻿@model IEnumerable<string>
@{
    var htmlAttributes = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["htmlAttributes"]);
    object classValues;
    if (htmlAttributes.TryGetValue("class", out classValues))
    {
        classValues = classValues as string;
    }

    object idValues;
    if (htmlAttributes.TryGetValue("id", out idValues))
    {
        idValues = idValues as string;
    }

    var name = ViewData.TemplateInfo.HtmlFieldPrefix;
}

<select multiple name="@name" class="@classValues tag-list" id="@name @idValues" style="width: 100%">
    @{
        var activePeople = ViewData["activePeople"] as IEnumerable<SelectListItem>;
        var action = ViewData["action"];

        if (activePeople == null)
        {
            return;
        }

        if (action.Equals("create"))
        {
            foreach (var item in activePeople)
            {
                <option value="@item.Value" selected="selected">@item.Text</option>
            }
        }
        else if (action.Equals("edit"))
        {
            foreach (var item in activePeople)
            {
                <option value="@item.Value" @(Model.Any(s => s.Equals(item.Text)) ? "selected=\"selected\"" : "")>@item.Text</option>  
            }
        }
    }
</select>
