﻿@using Presentation.Web.Helpers
@model Presentation.Web.Models.Meeting.CreateSummariesMeetingViewModel

@{
    var adHelper = DependencyResolver.Current.GetService<IAdHelper>();
    // Configures the <title> of the page for printing
    ViewBag.Printable = true;
}

<!-- Header -->
<header class="print-header">
    <img src="/Content/img/aak_logo.png" alt="Logo" />
    <h2 class="hidden-print">Opret Mødereferat</h2>
    <h2 class="visible-print">Færdselsmøde - referat</h2>
</header>

<div class="hidden-print">
    @Html.Partial("CreatedModifiedPartialView")
</div>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <!-- Content -->
    <div class="row">
        <div class="col-sm-12">

            <!-- Meeting details -->
            <dl class="dl-horizontal hidden-print">
                <dt>@Html.DisplayNameFor(model => model.Id)</dt>
                <dd>@Html.DisplayFor(model => model.Id)</dd>

                <dt>@Html.DisplayNameFor(model => model.Date)</dt>
                <dd class="print-sbs-details">@Html.DisplayFor(model => model.Date)</dd>

                <dt>@Html.DisplayNameFor(model => model.Location)</dt>
                <dd>@Html.DisplayFor(model => model.Location)</dd>

                <dt>@Html.DisplayNameFor(model => model.InvitedPeople)</dt>
                <dd>
                    @foreach (var person in Model.InvitedPeople)
                    {
                        <span>@if (person != Model.InvitedPeople.Last())
                        {@person<text>,</text>}
                        else
                        {@person}</span>
                    }
                </dd>
            </dl>

            <!-- Meeting details print (side-by-side) -->
            <dl class="dl-horizontal clearfix visible-print">
                <dt class="print-sbs-display">@Html.DisplayNameFor(model => model.Id)</dt>
                <dd class="print-sbs-details">@Html.DisplayFor(model => model.Id)</dd>

                <dt class="print-sbs-display">@Html.DisplayNameFor(model => model.Date)</dt>
                <dd class="print-sbs-details">@Html.DisplayFor(model => model.Date)</dd>

                <dt class="print-sbs-display">@Html.DisplayNameFor(model => model.Location)</dt>
                <dd class="print-sbs-details">@Html.DisplayFor(model => model.Location)</dd>

                <dt class="print-sbs-display">@Html.DisplayNameFor(model => model.InvitedPeople)</dt>
                <dd class="print-sbs-details">
                    @foreach (var person in Model.InvitedPeople)
                    {
                        <span>@if (person != Model.InvitedPeople.Last()) {@person<text>,</text>}else {@person}</span>
                    }
                </dd>
            </dl>
            <hr />
        </div>
    </div>

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Date)
        @Html.HiddenFor(model => model.Location)
        @Html.HiddenFor(model => model.InvitedPeople)
        @Html.HiddenFor(model => model.IsSummaryLocked)

        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.NextMeeting)</dt>
            @if (Model.IsSummaryLocked)
            {
                <dd>@Html.EditorFor(model => model.NextMeeting, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})</dd>
            }
            else
            {
                <dd>@Html.EditorFor(model => model.NextMeeting, new { htmlAttributes = new { @class = "form-control"} })</dd>
            }
        </dl>

        <hr class="hidden-print" />

        @for (var i = 0; i < Model.MeetingAgendaPoints.Count(); i++)
        {
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].Id)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Id)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.ModifiedBy)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.ModifiedOn)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CreatedBy)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CreatedOn)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.IsAssignedBeforeChange)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.IsAssignedToMeeting)
            @Html.HiddenFor(model => model.MeetingAgendaPoints[i].Number) // Needed by the controller to check for the zero agendapoint, don't delete

            <div class="container bg-info printing-border-ridge agenda-point">
                <div class="row">
                    <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].Number)</b></div>
                    <div class="col-sm-9">@Model.MeetingAgendaPoints[i].Number</div>
                </div>

                @if (Model.MeetingAgendaPoints[i].Number != 0)
                {
                    <div class="row hidden-print">
                        <div class="col-sm-3">
                            <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPointId)</b>
                        </div>
                        <div class="col-sm-9">@Html.ActionLink("" + Model.MeetingAgendaPoints[i].AgendaPointId, "Details", "AgendaPoint", new { id = Model.MeetingAgendaPoints[i].AgendaPointId }, null)</div>
                    </div>
                }

                @if (Model.MeetingAgendaPoints[i].Number != 0)
                {
                    <div class="row">
                        <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.AddressName)</b></div>
                        <div class="col-sm-3">@Model.MeetingAgendaPoints[i].AgendaPoint.AddressName</div>
                        <a class="hidden-print" target="_blank" href="@("http://webkort.adm.aarhuskommune.dk/spatialmap?profile=edit_point&editid="+Model.MeetingAgendaPoints[i].AgendaPointId+"&editds=pofcba_agendapoints&edit=true")"><span class="glyphicon glyphicon-map-marker"></span> Vis på kort</a>
                    </div>
                }

                @if (Model.MeetingAgendaPoints[i].Number != 0)
                {
                    <div class="row">
                        <div class="col-sm-3">
                            <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Area)</b>
                        </div>
                        <div class="col-sm-9">@Model.MeetingAgendaPoints[i].AgendaPoint.Area</div>
                    </div>
                    if (Model.MeetingAgendaPoints[i].AgendaPoint.TemporaryAddress)
                    {
                        <div class="row">
                            <div class="col-sm-3">
                                <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.TemporaryAddress)</b>
                            </div>
                            <div class="col-sm-9">@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.TemporaryAddress)</div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.TemporaryAddressName)</b>
                            </div>
                            <div class="col-sm-9">@Model.MeetingAgendaPoints[i].AgendaPoint.TemporaryAddressName</div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-3">
                            <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.ProjectLeaderName)</b>
                        </div>
                        <div class="col-sm-9">@Model.MeetingAgendaPoints[i].AgendaPoint.ProjectLeaderTeamName, @Model.MeetingAgendaPoints[i].AgendaPoint.ProjectLeaderName</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Description)</b>
                        </div>
                        <div class="col-sm-9">@Model.MeetingAgendaPoints[i].AgendaPoint.Description</div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-sm-3">
                            <b>Bemærkninger til sidste referat</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="margin-top: 8px;">
                            @if (Model.IsSummaryLocked)
                            {
                                @Html.EditorFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Description, new { htmlAttributes = new { @class = "form-control col-sm-12", @readonly = "readonly" } })
                            }
                            else
                            {
                                @Html.EditorFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Description, new { htmlAttributes = new { @class = "form-control col-sm-12" } })
                            }

                        </div>
                    </div>
                }

                @if (Model.MeetingAgendaPoints[i].Number != 0)
                {
                    <div class="row">
                        <div class="col-sm-3">
                            <b>Dokumenter</b>
                        </div>
                        <div class="col-sm-9">
                            @foreach (var doc in Model.MeetingAgendaPoints[i].AgendaPoint.Documents)
                            {
                                <a href="@Url.Action("Download", "AgendaPoint", new {guid = doc.Guid})">@Html.DisplayFor(d => doc.FileName)</a>
                                            <br />
                                            <span class="hidden-print">
                                                @Html.DisplayFor(model => doc.Comment)
                                            </span>

                                if (doc.Comment != null && !doc.Comment.IsEmpty())
                                {
                                    <i class="visible-print">@Html.DisplayFor(model => doc.Comment)</i>
                                }

                                <!-- Insert line break if more documents need to be displayed -->
                                if (doc != Model.MeetingAgendaPoints[i].AgendaPoint.Documents.Last())
                                {
                                    <br class="hidden-print" />
                                }
                            }
                        </div>
                    </div>
                }

                @if (Model.MeetingAgendaPoints[i].AgendaPoint.Project != null)
                {
                    <div class="row">
                        <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Id)</b></div>
                        <div class="col-sm-9">@Html.ActionLink(Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Id).ToString(), "Details", "Project", new { id = Model.MeetingAgendaPoints[i].AgendaPoint.Project.Id }, null)</div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Topic)</b></div>
                        <div class="col-sm-9">@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Topic)</div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project)</b></div>
                        <div class="col-sm-3 aws-address-id" data-aws-id="@Model.MeetingAgendaPoints[i].AgendaPoint.Project.AddressId">Henter adresse...</div>
                        <a data-aws-id="@Model.MeetingAgendaPoints[i].AgendaPoint.Project.AddressId" class="map-link hidden-print" target="_blank" href=""><span class="glyphicon glyphicon-map-marker"></span> Vis på kort</a>
                    </div>

                    if (Model.MeetingAgendaPoints[i].AgendaPoint.Project.Documents.Count() > 0)
                    {
                        <div class="row margin-top-20">
                            <div class="col-sm-3"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Documents)</b></div>
                            <div class="col-sm-9">
                                @for (var d = 0; d < Model.MeetingAgendaPoints[i].AgendaPoint.Project.Documents.Count(); d++)
                                {
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <b>
                                                @Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Documents[d].FileName)
                                            </b>
                                            @Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Documents[d].FileName)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <b>
                                                @Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Documents[d].Comment)
                                            </b>
                                            @Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Project.Documents[d].Comment)
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }

                @if (Model.IsSummaryLocked && Model.MeetingAgendaPoints[i].Number != 0)
                {
                    <div class="row">
                        <div class="col-sm-3">
                            <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Approved)</b>
                        </div>
                        <div class="col-sm-3">
                            <b>@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Approved, new { @class = "checkbox-inline" })</b>
                        </div>
                    </div>

                    <div class="row">
                        @Html.LabelFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Conclusion, new { @class = "col-md-2" })
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Conclusion, new { htmlAttributes = new { @class = "form-control col-sm-12", @readonly = "readonly" } })
                        </div>
                    </div>

                    <div class="row">
                        @Html.LabelFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Agreement, new { @class = "col-md-2" })
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Agreement, new { htmlAttributes = new { @class = "form-control col-sm-12", @readonly = "readonly" } })
                        </div>
                    </div>
                }
                else if (Model.MeetingAgendaPoints[i].Number != 0)
                {
                    <div class="row">
                        <div class="col-sm-3">
                            <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Approved)</b>
                        </div>
                        <div class="col-sm-3">
                            <b>@Html.CheckBoxFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Approved, new { @class = "checkbox-inline" })</b>
                        </div>
                    </div>

                    <div class="row">
                        @Html.LabelFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Conclusion, new { @class = "col-md-2" })

                        <div class="col-md-4 col-md-push-6 hidden-print">
                            @if (ViewBag.DefaultConclusionPhraseList != null)
                            {
                                @Html.DropDownList("DefaultConclusionPhraseSelector" + i, ViewBag.DefaultConclusionPhraseList as List<SelectListItem>, "", new { @class = "form-control default-phrase", style = "width: 100%", data_field_id = @Html.IdFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Conclusion) })
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Conclusion, new { htmlAttributes = new { @class = "form-control col-sm-12" } })
                        </div>
                    </div>

                    <div class="row">
                        @Html.LabelFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Agreement, new { @class = "col-md-2" })

                        <div class="col-md-4 col-md-push-6 hidden-print">
                            @if (ViewBag.DefaultAgreementPhraseList != null)
                            {
                                @Html.DropDownList("DefaultAgreementPhraseSelector" + i, ViewBag.DefaultAgreementPhraseList as List<SelectListItem>, "", new { @class = "form-control default-phrase", style = "width: 100%", data_field_id = @Html.IdFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Agreement) })
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Agreement, new { htmlAttributes = new { @class = "form-control col-sm-12" } })
                        </div>
                    </div>
                }
            </div>
            <hr class="hidden-print" />
        }

        @if (!Model.IsSummaryLocked)
        {
            <div class="hidden-print">
                <div>
                    <input type="submit" value="Gem" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
}

<br class="hidden-print" />
<div class="hidden-print row">

    <div class="col-md-2">
        @Html.ActionLink("Tilbage til listen", "Index")
    </div>

    @if (Model.IsSummaryLocked || (!Model.IsSummaryLocked && adHelper.InRole(UserRole.Admin)))
    {
        <button class="btn btn-primary pull-right col-md-2" id=" printbtn" onclick="printPage()">
            <span class="glyphicon glyphicon-print"></span>
            <span> Print mødereferat</span>
        </button>
    }
</div>

@section Scripts {
    <script>
        function printPage() {
            window.print();
        }

        $(function () {
            $(".default-phrase").change(function (event) {
                var fieldId = $(event.target).data("fieldId");
                var phraseText = $(this).find("option:selected").text();

                if (phraseText != undefined) {
                    var oldFieldtext = $("#" + fieldId).val().trim();
                    if (oldFieldtext) {
                        oldFieldtext += "\n";
                    }

                    $("#" + fieldId).val(oldFieldtext + phraseText);
                    $("#" + fieldId).trigger('input');
                }

                $(this).val('');
            });

            $(".default-phrase").select2({
                placeholder: "Vælg en standardfrase...",
                language: "da"
            });
        });
    </script>
}
