﻿@using Presentation.Web.Helpers
@model Presentation.Web.Models.Meeting.CreateMeetingViewModel
@{
    ViewBag.Title = "Opret færdselsmøde";
    var adHelper = DependencyResolver.Current.GetService<IAdHelper>();
}

<h2>Opret færdselsmøde</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr class="hidden-xs" />

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvitedPeople, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.InvitedPeople, new { htmlAttributes = new { @class = "form-control" }, activePeople = ViewBag.InvitedPeopleList, action = "create" })
                @Html.ValidationMessageFor(model => model.InvitedPeople, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (adHelper.InRole(UserRole.Admin))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.MeetingAgendaPoints, new { @class = "control-label col-md-2" })
                <div class="col-sm-10 container-fluid" id="AgendaPointList">
                    <div class="row">
                        <div class="col-xs-1 text-center">
                            <input class="checkbox-inline" id="CheckAllAgendaPoints" type="checkbox" value="true">
                        </div>
                        <div class="col-xs-11 container-fluid">
                            <p>
                                Vælg alle fædselsmødepunkter
                            </p>
                        </div>
                    </div>
                    @if (!Model.MeetingAgendaPoints.Any())
                    {
                        <p>Der er ikke nogle ubehandlede færdselsmødepunkter.</p>
                            <a href="@Url.Action("Create", "AgendaPoint")"><span class="glyphicon glyphicon-plus text-success"></span> Tilføj et nyt færdselsmødepunkt nu.</a>
                    }
                    @for (var i = 0; i < Model.MeetingAgendaPoints.Count(); i++)
                    {
                        @Html.HiddenFor(model => model.MeetingAgendaPoints[i].Id)
                        @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Id)
                        @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Description)
                        @Html.HiddenFor(model => model.MeetingAgendaPoints[i].AgendaPoint.AgendaPointStatusId)
                        @Html.HiddenFor(model => model.MeetingAgendaPoints[i].Number)
                        <div class="row @(i % 2 == 0 ? "bg-info" : "")">
                            <div class="col-xs-1 text-center">
                                @Html.CheckBoxFor(model => model.MeetingAgendaPoints[i].AgendaPoint.IsAssignedToMeeting, new { @class = "checkbox-inline" })
                            </div>
                            <div class="col-xs-11 container-fluid">
                                <dl class="dl-horizontal description-left-allign">
                                    <dt>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.AddressName)</dt>
                                    <dd>@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.AddressName)</dd>

                                    <dt>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Area)</dt>
                                    <dd>@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Area)</dd>

                                    <dt>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Description)</dt>
                                    <dd>
                                        <div class="description-details">
                                            @Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Description)
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Gem" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbage til listen", "Index")
</div>


@Scripts.Render("~/Scripts/MeetingHelper.js")