﻿@model Presentation.Web.Models.Meeting.DetailsMeetingViewModel

@{
    // Configures the <title> of the page for printing
    ViewBag.Printable = true;
}

<!-- Header -->
<header class="print-header">
    <img src="/Content/img/aak_logo.png" alt="Logo" />
    <h2 class="hidden-print">Færdselsmøde</h2>
    <h2 class="visible-print">Færdselsmøde - dagsorden</h2>
</header>

<div class="hidden-print">
    @Html.Partial("CreatedModifiedPartialView")
</div>

<hr />

<!-- Content -->
<div class="row">
    <div class="col-sm-12">
        
        <!-- Meeting details -->
        <dl class="dl-horizontal hidden-print">
            <dt>@Html.DisplayNameFor(model => model.Id)</dt>
            <dd>@Html.DisplayFor(model => model.Id)</dd>

            <dt>@Html.DisplayNameFor(model => model.Date)</dt>
            <dd class="print-sbs-details">@Html.DisplayFor(model => model.Date)</dd>

            <dt>@Html.DisplayNameFor(model => model.Location)</dt>
            <dd>@Html.DisplayFor(model => model.Location)</dd>

            <dt>@Html.DisplayNameFor(model => model.InvitedPeople)</dt>
            <dd>
                @foreach (var person in Model.InvitedPeople)
                {
                    <span>@person</span>
                }
            </dd>
            @if (Model.IsSummaryLocked)
            {
                <dt>@Html.LabelFor(model => model.EDocsLink)</dt>
                <dd>@Html.DisplayFor(model => model.EDocsLink)</dd>
            }
            <dt>@Html.DisplayNameFor(model => model.MeetingAgendaPoints)</dt>
        </dl>
        
        <!-- Meeting details print (side-by-side) -->
        <dl class="dl-horizontal clearfix visible-print">
            <dt class="print-sbs-display">@Html.DisplayNameFor(model => model.Id)</dt>
            <dd class="print-sbs-details">@Html.DisplayFor(model => model.Id)</dd>

            <dt class="print-sbs-display">@Html.DisplayNameFor(model => model.Date)</dt>
            <dd class="print-sbs-details">@Html.DisplayFor(model => model.Date)</dd>

            <dt class="print-sbs-display">@Html.DisplayNameFor(model => model.Location)</dt>
            <dd class="print-sbs-details">@Html.DisplayFor(model => model.Location)</dd>
        </dl>

        <!-- Agenda points -->
        <dl class="dl-horizontal">
            <dd class="printing-border-top-medium printing-border-ridge">
                @{
                    if (!Model.MeetingAgendaPoints.Any())
                    {
                        @:Der er ingen tilknyttede færdselsmødepunkter.
                    }
                    for (var i = 0; i < Model.MeetingAgendaPoints.Count(); i++)
                    {
                        @Html.HiddenFor(model => model.MeetingAgendaPoints[i].Id)
                        <div class="printing-border-top-thin @(i%2 == 1 ? "bg-info" : "")">
                            <div class="row">
                                <div class="col-sm-3 col-lg-2 hidden-print"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].Number)</b></div>
                                <div class="col-sm-3 col-lg-2 visible-print"><b>Dagsordenspunkt</b></div>
                                <div class="col-sm-9 col-lg-10">@Model.MeetingAgendaPoints[i].Number</div>
                            </div>
                            @if (@Model.MeetingAgendaPoints[i].Number != 0)
                            {
                                <div class="row">
                                    <div class="col-sm-3 col-lg-2"><b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.AddressName)</b>
                                    </div>
                                    <div class="col-sm-9 col-lg-10">@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.AddressName)</div>
                                </div>
                                if (Model.MeetingAgendaPoints[i].AgendaPoint.TemporaryAddress) 
                                {
                                    <div class="row">
                                        <div class="col-sm-3 col-lg-2">
                                            <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.TemporaryAddress)</b>
                                        </div>
                                        <div class="col-sm-9 col-lg-10">@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.TemporaryAddress)</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-lg-2">
                                            <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.TemporaryAddressName)</b>
                                        </div>
                                        <div class="col-sm-9 col-lg-10">@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.TemporaryAddressName)</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-sm-3 col-lg-2 hidden-print">
                                            <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.TemporaryAddress)</b>
                                        </div>
                                        <div class="col-sm-9 col-lg-10 hidden-print">@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.TemporaryAddress)</div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-sm-3 col-lg-2">
                                        <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.ProjectLeaderName)</b>
                                    </div>
                                    <div class="col-sm-9 col-lg-10">@Model.MeetingAgendaPoints[i].AgendaPoint.ProjectLeaderTeamName, @Model.MeetingAgendaPoints[i].AgendaPoint.ProjectLeaderName</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-lg-2">
                                        <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.StreetType)</b>
                                    </div>
                                    <div class="col-sm-9 col-lg-10">@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.StreetType.Type)</div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-sm-3 col-lg-2">
                                    <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Description)</b>
                                </div>
                                <div class="col-sm-9 col-lg-10">@Model.MeetingAgendaPoints[i].AgendaPoint.Description</div>
                            </div>
                            @if (@Model.MeetingAgendaPoints[i].Number != 0)
                            {
                                <div class="row">
                                    <div class="col-sm-3 col-lg-2">
                                        <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CbmDiscussion.Discussed)</b>
                                    </div>
                                    <div class="col-sm-9 col-lg-10">@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CbmDiscussion.Discussed)</div>
                                </div>

                                if (Model.MeetingAgendaPoints[i].AgendaPoint.CbmDiscussion.Discussed)
                                {
                                    <div class="row">
                                        <div class="col-sm-3 col-lg-2">
                                            <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CbmDiscussion.DiscussedWith)</b>
                                        </div>
                                        <div class="col-sm-9 col-lg-10">@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CbmDiscussion.DiscussedWith)</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-lg-2">
                                            <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CbmDiscussion.Description)</b>
                                        </div>
                                        <div class="col-sm-9 col-lg-10">@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CbmDiscussion.Description)</div>
                                    </div>
                                }

                                <div class="row">
                                    <div class="col-sm-3 col-lg-2">
                                        <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CbaDiscussion.Discussed)</b>
                                    </div>
                                    <div class="col-sm-9 col-lg-10">@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CbaDiscussion.Discussed)</div>
                                </div>

                                if (Model.MeetingAgendaPoints[i].AgendaPoint.CbaDiscussion.Discussed)
                                {
                                    <div class="row">
                                        <div class="col-sm-3 col-lg-2">
                                            <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CbaDiscussion.DiscussedWith)</b>
                                        </div>
                                        <div class="col-sm-9 col-lg-10">@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CbaDiscussion.DiscussedWith)</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-lg-2">
                                            <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CbaDiscussion.Description)</b>
                                        </div>
                                        <div class="col-sm-9 col-lg-10">@Html.DisplayFor(model => model.MeetingAgendaPoints[i].AgendaPoint.CbaDiscussion.Description)</div>
                                    </div>
                                }

                                <div class="row">
                                    <div class="col-sm-3 col-lg-2">
                                        <b>Dokumenter</b>
                                    </div>
                                    <div class="col-sm-9 col-lg-10">
                                        @foreach (var doc in Model.MeetingAgendaPoints[i].AgendaPoint.Documents)
                                        {
                                            <a href="@Url.Action("Download", "AgendaPoint", new {guid = doc.Guid})">@Html.DisplayFor(d => doc.FileName)</a>
                                            <br />
                                            <span class="hidden-print">
                                                @Html.DisplayFor(model => doc.Comment)
                                            </span>

                                            if (doc.Comment != null && !doc.Comment.IsEmpty())
                                            {
                                                <i class="visible-print">@Html.DisplayFor(model => doc.Comment)</i>
                                            }

                                            <!-- Insert line break if more documents need to be displayed -->
                                            if (doc != Model.MeetingAgendaPoints[i].AgendaPoint.Documents.Last())
                                            {
                                                <br class="hidden-print"/>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="row hidden-print">
                                    <div class="col-sm-3 col-lg-2">
                                        <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Conclusion)</b>
                                    </div>
                                    <div class="col-sm-9 col-lg-10">@Model.MeetingAgendaPoints[i].AgendaPoint.Conclusion</div>
                                </div>
                                <div class="row hidden-print">
                                    <div class="col-sm-3 col-lg-2">
                                        <b>@Html.DisplayNameFor(model => model.MeetingAgendaPoints[i].AgendaPoint.Agreement)</b>
                                    </div>
                                    <div class="col-sm-9 col-lg-10">@Model.MeetingAgendaPoints[i].AgendaPoint.Agreement</div>
                                </div>
                            }                         
                        </div>
                    }
                }
            </dd>

            <dt class="hidden-print">@Html.DisplayNameFor(model => model.IsSummaryLocked)</dt>
            <dd class="hidden-print">
                @if (Model.IsSummaryLocked)
                {
                    <span><span class="glyphicon glyphicon-lock"></span>Referat låst</span>
                }
                else
                {
                    <a href="@Url.Action("CreateSummaries", new {id = Model.Id})">Tilføj mødereferat</a>
                }
            </dd>

            @* TODO: Find out if this field should be kept *@
            @*<dt class="printing-border-top-thin">@Html.DisplayNameFor(model => model.AcceptedOn)</dt>
            <dd>
                @if (Model.AcceptedOn != null)
                {
                    @Html.DisplayFor(model => model.AcceptedOn)
                }
                else
                {
                    @:Mødet er ikke godkendt.
                }
            </dd>*@
        </dl>
    </div>
</div>

<!-- Print button and links -->
<p class="hidden-print">
    @if (Model.IsMeetingAgendaPointSummaryStringsEmpty())
    {
        @Html.ActionLink("Rediger", "Edit", new { id = Model.Id }) <span>|</span>
    }
    @if (Model.MeetingAgendaPoints != null && Model.MeetingAgendaPoints.Count != 0)
    {
        @Html.ActionLink("Mødereferat", "CreateSummaries", new {id = Model.Id})
    } | @Html.ActionLink("Tilbage til listen", "Index")
    <button class="btn btn-primary pull-right" id="printBtn" onclick="printPage()">
        <span class="glyphicon glyphicon-print"></span>
        <span> Print Dagsorden</span>
    </button>
</p>

@section Scripts{
    <script>
        function printPage() {
            window.print();
        }
    </script>
}
