﻿@using Presentation.Web.Helpers
@model IEnumerable<Presentation.Web.Models.Meeting.IndexMeetingViewModel>
@{
    var adHelper = DependencyResolver.Current.GetService<IAdHelper>();
    ViewBag.Title = "Færdselsmøder";
    var gridTitle = "MeetingGrid";
}

<h2>Færdselsmøder</h2>
<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Opret færdselsmøde</a>
    </div>

    <div>
        <input type="checkbox" id="onlyNewPointsMeeting" @( (Response.Cookies["onlyNewPointsMeeting"].Value =="true") ? "checked":"" ) />
        <text>Vis kun møder mindre end et år gammelt</text>
    </div>

    <hr />

@(Html.Kendo().Grid<Presentation.Web.Models.Meeting.IndexMeetingViewModel>()
          .Name(gridTitle)
          .Columns(c =>
          {
              c.Bound(col => col.Id).Width(1);
              c.Bound(col => col.Date);
              c.Bound(col => col.Location);

              c.Template(col => null)
                  .AddCustomButton("", Url.Action("CreateSummaries", "Meeting"));
              if (adHelper.InRole(UserRole.Admin))
              {

                  c.Template(col => null)
                      .AddCustomButton("Lås referat op", Url.Action("UnlockSummary", "Meeting"))
                      .AddCustomButton("Lås referat", Url.Action("LockSummary", "Meeting"));
              }
              c.Template(col => null)
                  .AddCustomButton("<span class=\"glyphicon glyphicon-pencil text-success\"></span>", Url.Action("Edit", "Meeting"))
                  .AddCustomButton("<span class=\"glyphicon glyphicon-list-alt text-warning\"></span>", Url.Action("Details", "Meeting")).Width(1);

          })
          .Pageable(pager => pager.PageSizes(new List<int> { 10, 20, 50 }))
          .Events(e => e.DataBound("meetingTableOnDataBound"))
          .Sortable()
          .Filterable(x => x.Mode(GridFilterMode.Menu))
          .DataSource(x =>
            x.Ajax()
              .Read(r => r.Action("Meeting_Read", "Meeting"))
              .Sort(s => s.Add(y => y.Id).Descending())
          )
)
</div>

@Scripts.Render("~/Scripts/kendo/KendoTableHelpers.js")
@Scripts.Render("~/Scripts/CookieHelpers.js")

@section scripts
{
    <script>
        function meetingTableOnDataBound(e) {
            var grid = $("#@gridTitle").data("kendoGrid");
            var gridData = grid.dataSource.view();

            for (var i = 0; i < gridData.length; i++) {
                var currentUid = gridData[i].uid;
                var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                var editButton = $(currentRow).find(".k-grid-Edit");
                var summaryLink = $(currentRow).find(".k-grid-CreateSummaries");
                var lockButton = $(currentRow).find(".k-grid-LockSummary");
                var unlockButton = $(currentRow).find(".k-grid-UnlockSummary");

                if (gridData[i].IsSummaryLocked) {
                    summaryLink.html("<span class=\"glyphicon glyphicon-lock\"></span> Referat Låst");
                    lockButton.hide();
                    editButton.hide();
                } else {
                    summaryLink.text("Mødereferat");
                    unlockButton.hide();
                }
            }
        }

        $(function () {
            //Toggle whether to show older points.
            $('#onlyNewPointsMeeting').on('change', function (e) {
                cbaSetCookie("onlyNewPointsMeeting", $(this).is(':checked') ? 'true' : 'false');
            });
            initStatePersistance("@gridTitle");
        });
    </script>
}