﻿@{
    ViewBag.Title = "Fejl";
}
    <h1 class="text-danger">Der opstod en fejl 500</h1>
    <p class="text-danger">Fejl: Mødepunkt 0 optræder mere end én gang på dette Færdselsmøde</p>
    <p class="text-danger">Kontakt systemadministratoren</p>
