﻿@model Presentation.Web.Models.Home.HomeViewModel
@{
    ViewBag.Title = "Velkommen";
}

<img src="/Content/img/banner.png" class="img-responsive" alt="Banner">
<br/>

<p>Velkommen til PRoF – Center for Byens Anvendelses nye projekt- og færdselsmødesystem, som erstatter de tidligere Access-databaser. Systemet giver mulighed for finde anlægsprojekter og færdselsmødeafgørelser.<p>
<p>PRoF er brugervenligt, let tilgængeligt og muligt at benytte for alle ansatte hos Center for Byens Anvendelse.</p>
<br />
<h4><i>Projekter</i></h4>
<p>Projekter er bygget op omkring den gamle projektdatabase, hvor det er blevet muligt at vedhæfte relevant bilag direkte på projektet.<p>
<p>Fremover skal alle anlægsprojekter, store som små, indtastes i projektsystemet, så vi med tiden får et fyldestgørende og brugbart system.</p>
<p>Læs mere i quick-manualen <a href="@(Url.Content("~/Status/") + Model.QuickCreateProject)">’opret et projekt’</a> og <a href="@(Url.Content("~/Status/") + Model.QuickAddAppendixToProject)">’tilføj et bilag’</a></p>
<br />
<h4><i>Færdselsmøder</i></h4>
<p>Færdselsmøder er her, der er lavet flest ændringer. Nu skal du selv oprette et dagsordenspunkt direkte i systemet, og vedhæfte de relevante bilag. Når du har markeret sagen som ’klar til dagsorden’ vil sagen automatisk blive medtaget på næstkommende færdselsmøde. <p>
<p>Du vil stadig modtage en e-mail med dagsorden og referat, hvis du er tilmeldt udsendelseslisten.</p>
<p>Læs mere i quick-manualen <a href="@(Url.Content("~/Status/") + Model.QuickCreateAgendaPoint)">’opret et dagsordenspunkt’</a> og <a href="@(Url.Content("~/Status/") + Model.QuickAddAppendixToAgendaPoint)">’tilføj et bilag’</a></p>
<br />
<h4><i>Tegninger</i></h4>
<p>Den tidligere tegningsdatabasen er ikke blevet overført til det nye system, men det er meningen, at der med tiden vil blive udviklet et system i systemet, da man vil tilknytte relevant tegningsmateriale til enten et færdselsmødepunkt eller et projekt.<p>
<p>Læs mere i quick-manualen <a href="@(Url.Content("~/Status/") + Model.QuickCreateDrawing)">’find en tegning’</a> og <a href="@(Url.Content("~/Status/") + Model.QuickAddAppendixToDrawing)">’tilføj et bilag’</a></p>