﻿body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-cba {
    background-color: #5581c0;
}

.navbar a,
.navbar p {
    color: #ffffff;
}

.navbar li a:hover {
    background-color: #668EC6;
}

nav .container-fluid {
    padding-right: 0;
}

.navbar-user {
    background-color: #34598e;
}

.navbar {
    border-radius: 0;
}

@media (max-width: 768px) {
    .dropdown-menu li a,
    .dropdown-menu li a:hover {
        color: #FFFFFF;
    }
}

.bg-orange
{
    background-color: #f0ad4e;
    border-color: #eea236;
}

.bg-info {
    background-color: #EEF2F9;
    border-color: #EEF2F9;
}

.navbar-toggle span {
    background-color: #FFFFFF;
}

.navbar-btn-cba {
    -ms-border-radius: 1.2em;
    border-radius: 1.2em;
}

/* For truncating table description*/
.truncate {
    max-width: 100px;
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    min-height: 120px;
    min-width: 100px;
    overflow: auto;
}

.description-details {
    max-height: 120px;
    min-width: 100px;
    overflow: auto;
}

.note {
    min-height: 75px;
    min-width: 100px;
    overflow: auto;
}

.note-details {
    min-height: 3em;
    max-height: 75px;
    min-width: 100px;
    overflow: auto;
}

.summary {
    resize: vertical;
    min-height: 150px;
}

/* Color select2 odd options */
.select2-results ul[aria-multiselectable=false] li:nth-child(odd) {
    background-color: #DDE6F2;
}

#drop_zone {
    border: 2px dashed #BBB;
    border-radius: 5px;
    padding: 5px 25px 25px;
    text-align: center;
    color: #BBB;
    margin-right: 0;
    margin-left: 0;
}

.doc-text-area {
    max-width: 120px;
    height: 75px;
}

dl.description-left-allign *{
    text-align: left;
}

.padding-top {
    padding-top: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.agenda-point {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* jQuery UI customization */
.ui-slider-handle {
    background: #bbb !important;
    background: -webkit-linear-gradient(#cdcdcd, #aaa) !important;
    background: -o-linear-gradient(#cdcdcd, #aaa) !important;
    background: -moz-linear-gradient(#cdcdcd, #aaa) !important;
    background: linear-gradient(#cdcdcd, #aaa) !important;
}

/* Printing */
.print-header img {
    height: 100px;
    display: none;
    float: right;
}

@media print {
    .print-sbs-display {
        width: 25%;
        float: left;
    }
    .print-sbs-details {
        width: 75%;
        float: right;
    }
    .print-header img {
        display: block;
    }
    .print-header h2 {
        padding-top: 60px;
    }
}

@page
{
    size: auto;
    margin-top: 15mm;
    margin-bottom: 15mm;
}

/* Makes the bootstrap containers a bit larger no matter what size the
   screen is, effectively removing responsiveness, but allowing all data
   to be shown
*/

@media (min-width: 768px) {
    .container {
        width: 1600px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 1600px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1600px;
    }
}

/* Very specific for showing the status info icon */

.status-info-icon {
    padding: 0px;
    padding-left: 5px;
    font-size: 1.7em;
}
