﻿@model Presentation.Web.Models.Entrepreneur.DeleteEntrepreneurViewModel

@{
    ViewBag.Title = "Bekræft sletning";
}

<h2>Bekræft sletning</h2>

@Html.Partial("CreatedModifiedPartialView")

<hr class="hidden-xs" />

<h3>Er du sikker på at du vil slette denne entreprenør?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponsiblePersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponsiblePersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponsiblePersonPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponsiblePersonPhoneNumber)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Slet" class="btn btn-danger" /> |
            @Html.ActionLink("Tilbage til listen", "Index")
        </div>
    }
</div>