﻿@using Presentation.Web.Helpers
@model IEnumerable<Presentation.Web.Models.Entrepreneur.IndexEntrepreneurViewModel>
@{
    ViewBag.Title = "Entreprenører";
    var gridTitle = "EntrepreneurGrid";
}

<h2>Entreprenører</h2>
<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Opret entreprenør</a>
    </div>
    <hr />
    @(Html.Kendo().Grid<Presentation.Web.Models.Entrepreneur.IndexEntrepreneurViewModel>()
          .Name(gridTitle)
          .Columns(c =>
          {
              c.Bound(col => col.Company.Name)
                .Filterable(x => x.UI("filterCustomizationCompany")
                .Extra(false)
                .Messages(msg => msg.Info("Filtrer rækker med valgt virksomhed")));
              c.Bound(col => col.ResponsiblePersonName);
              c.Bound(col => col.ResponsiblePersonPhoneNumber);
              c.Bound(col => col.IsActive).ClientTemplate("# if (IsActive === true) { # " +
                                                          "Ja" +
                                                          "# } else { #" +
                                                          "Nej" +
                                                          "# } #");
              c.Template(col => null)
                 .AddCustomButton("<span class=\"glyphicon glyphicon-pencil text-success\"></span>", Url.Action("Edit", "Entrepreneur"))
                 .AddCustomButton("<span class=\"glyphicon glyphicon-remove text-danger\"></span>", Url.Action("Delete", "Entrepreneur")).Width(1);
          })
          .Pageable(pager => pager.PageSizes(new List<int> { 10, 20, 50, 100, 200, 500 }))
          .Sortable()
          .Filterable(x => x.Mode(GridFilterMode.Menu))
          .DataSource(x => x.Ajax().Read(r => r.Action("Entrepreneur_Read", "Entrepreneur")))
    )
</div>

@Scripts.Render("~/Scripts/kendo/KendoTableHelpers.js")

@section scripts
{
    <script>
        $(function () {
            initStatePersistance("@gridTitle");
        });

        function filterCustomizationCompany(element) {
            removeOperatorDropdown(element);

            // Change the text box for at dropdown with the values in the database
            element.kendoDropDownList({
                dataSource: @Html.Raw(Json.Encode((ViewBag.EntrepreneurCompanyList as List<SelectListItem>).AsQueryable().Select(x => x.Text))),
                optionLabel: "Vælg virksomhed"
            });
        }
    </script>
}
