﻿@using Presentation.Web.Helpers
@model IEnumerable<Presentation.Web.Models.InvitedPerson.InvitedPersonViewModel>

@{
    ViewBag.Title = "Standard inviterede personer";
    var gridTitle = "InvitedPersonGrid";
}

<h2>Standard inviterede personer</h2>
<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Opret standard inviteret person</a>
    </div>
    <hr />
    @(Html.Kendo().Grid<Presentation.Web.Models.InvitedPerson.InvitedPersonViewModel>()
          .Name(gridTitle)
          .Columns(c =>
          {
              c.Bound(col => col.Name);
              c.Bound(col => col.IsActive).ClientTemplate("# if (IsActive === true) { # " +
                                                          "Ja" +
                                                          "# } else { #" +
                                                          "Nej" +
                                                          "# } #");

              c.Template(col => null)
                 .AddCustomButton("<span class=\"glyphicon glyphicon-pencil text-success\"></span>", Url.Action("Edit", "InvitedPerson"))
                 .AddCustomButton("<span class=\"glyphicon glyphicon-remove text-danger\"></span>", Url.Action("Delete", "InvitedPerson")).Width(1);
          })
          .Pageable(pager => pager.PageSizes(new List<int> { 10, 20, 50, 100, 200, 500 }))
          .Sortable()
          .Filterable(x => x.Mode(GridFilterMode.Menu))
          .DataSource(x => x.Ajax().Read(r => r.Action("InvitedPerson_Read", "InvitedPerson")))
    )
</div>

@Scripts.Render("~/Scripts/kendo/KendoTableHelpers.js")

@section scripts
{
    <script>
        $(function () {
            initStatePersistance("@gridTitle");
        });
    </script>
}