﻿@model Presentation.Web.Models.LocalCommunity.IndexLocalCommunityViewModel
@{
    ViewBag.Title = "Bekræft sletning";
}

<h2>Bekræft sletning</h2>

@Html.Partial("CreatedModifiedPartialView")
<hr class="hidden-xs" />

<h3>Er du sikker på at du vil slette dette lokalsamfund?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Number)</dt>
        <dd>@Html.DisplayFor(model => model.Number)</dd>

        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.IsActive)</dt>
        <dd>@Html.DisplayFor(model => model.IsActive)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="submit" value="Slet" class="btn btn-danger" /> @:| @Html.ActionLink("Tilbage til listen", "Index")
    }
</div>
