﻿@using Presentation.Web.Helpers
@model IEnumerable<Presentation.Web.Models.LocalCommunity.IndexLocalCommunityViewModel>
@{
    ViewBag.Title = "Lokalsamfund";
    var gridTitle = "LocalCommunityGrid";
}

<h2>Lokalsamfund</h2>

<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Opret lokalsamfund</a>
    </div>
    <hr />
    @(Html.Kendo().Grid<Presentation.Web.Models.LocalCommunity.IndexLocalCommunityViewModel>()
          .Name(gridTitle)
          .Columns(c =>
          {
              c.Bound(col => col.Number);
              c.Bound(col => col.Name);
              c.Bound(col => col.IsActive).ClientTemplate("# if (IsActive === true) { # " +
                                                          "Ja" +
                                                          "# } else { #" +
                                                          "Nej" +
                                                          "# } #");

              c.Template(col => null)
                 .AddCustomButton("<span class=\"glyphicon glyphicon-pencil text-success\"></span>", Url.Action("Edit", "LocalCommunity"))
                 .AddCustomButton("<span class=\"glyphicon glyphicon-remove text-danger\"></span>", Url.Action("Delete", "LocalCommunity")).Width(1);
          })
          .Pageable(pager => pager.PageSizes(new List<int> { 10, 20, 50, 100, 200, 500 }))
          .Sortable()
          .Filterable(x => x.Mode(GridFilterMode.Menu))
          .DataSource(x => x.Ajax().Read(r => r.Action("LocalCommunity_Read", "LocalCommunity")))
    )
</div>

@Scripts.Render("~/Scripts/kendo/KendoTableHelpers.js")

@section scripts
{
    <script>
        $(function () {
            initStatePersistance("@gridTitle");
        });
    </script>
}