﻿@model Presentation.Web.Models.Search.ProjectViewModel

<div class="row">
    <div class="col-sm-12">
        <dl class="dl-horizontal printing-border-ridge">
            <dt>@Html.DisplayNameFor(model => model.Id)</dt>
            <dd>@Html.DisplayFor(model => Model.Id)</dd>

            @if (Model.Description != null)
            {
                <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                <dd>@Html.DisplayFor(model => Model.Description)</dd>
            }

            <dt>@Html.DisplayNameFor(model => model.AddressName)</dt>
            <dd>@Html.DisplayFor(model => Model.AddressName)</dd>

            <dt>@Html.DisplayNameFor(model => model.TemporaryAddress)</dt>
            <dd>@Html.DisplayFor(model => Model.TemporaryAddress)</dd>

            @if (Model.TemporaryAddress)
            {
                <dt>@Html.DisplayNameFor(model => model.TemporaryAddressName)</dt>
                <dd>@Html.DisplayFor(model => Model.TemporaryAddressName)</dd>
            }

            <dt>@Html.DisplayNameFor(model => model.CouncilPriority.Priority)</dt>
            <dd>@Html.DisplayFor(model => Model.CouncilPriority.Priority)</dd>

            <dt>@Html.DisplayNameFor(model => model.MunicipalityPriority)</dt>
            <dd>@Html.DisplayFor(model => Model.MunicipalityPriority.Priority)</dd>

            <dt>@Html.DisplayNameFor(model => model.Budget)</dt>
            <dd>@Html.DisplayFor(model => Model.Budget)</dd>

            <dt>@Html.DisplayNameFor(model => model.ProjectStatus)</dt>
            <dd>@Html.DisplayFor(model => Model.ProjectStatus.Status)</dd>
        </dl>
    </div>
</div>