﻿@using Presentation.Web.Models.Search
@model IEnumerable<AgendaPointViewModel>

@{
    // Configures the <title> of the page for printing
    ViewBag.Printable = true;
}

<h2 class="page-header">Fremsøgte færdselsmødepunkter</h2>

<button class="hidden-print btn btn-primary pull-right" onclick="printPage()">
    <span class="glyphicon glyphicon-print"></span>
    <span> Print færdselsmødepunkter</span>
</button>

<div class="row">
    <div class="col-sm-12">
        @foreach (var agendaPoint in Model)
        {
            <dl class="dl-horizontal printing-border-ridge">
                <dt>@Html.DisplayNameFor(model => model.MeetingAgendaPoint.MeetingId)</dt>
                <dd>@Html.DisplayFor(model => agendaPoint.MeetingAgendaPoint.MeetingId)</dd>

                <dt>@Html.DisplayNameFor(model => model.AddressName)</dt>
                <dd>@Html.DisplayFor(model => agendaPoint.AddressName)</dd>

                <dt>@Html.DisplayNameFor(model => model.TemporaryAddress)</dt>
                <dd>@Html.DisplayFor(model => agendaPoint.TemporaryAddress)</dd>

                @if (agendaPoint.TemporaryAddress)
                {
                    <dt>@Html.DisplayNameFor(model => model.TemporaryAddressName)</dt>
                    <dd>@Html.DisplayFor(model => agendaPoint.TemporaryAddressName)</dd>
                }

                <dt>@Html.DisplayNameFor(model => model.Status)</dt>
                <dd>@Html.DisplayFor(model => agendaPoint.Status.Status)</dd>

                <dt>@Html.DisplayNameFor(model => model.TopicName)</dt>
                <dd>@Html.DisplayFor(model => agendaPoint.TopicName)</dd>

                <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                <dd>@Html.DisplayFor(model => agendaPoint.Description)</dd>

                <dt>@Html.DisplayNameFor(model => model.Conclusion)</dt>
                <dd>@Html.DisplayFor(model => agendaPoint.Conclusion)</dd>

                <dt>@Html.DisplayNameFor(model => model.Agreement)</dt>
                <dd>@Html.DisplayFor(model => agendaPoint.Agreement)</dd>

                <dt>@Html.DisplayNameFor(model => model.Documents)</dt>
                <dd>
                    @foreach (var doc in agendaPoint.Documents)
                    {
                        <a href="@Url.Action("Download", "AgendaPoint", new {guid = doc.Guid})">@Html.DisplayFor(d => doc.FileName)</a>
                        <br />
                        <span class="hidden-print">
                            @Html.DisplayFor(model => doc.Comment)
                        </span>

                        if (doc.Comment != null && !doc.Comment.IsEmpty())
                        {
                            <i class="visible-print">@Html.DisplayFor(model => doc.Comment)</i>
                        }

                        <!-- Insert line break if more documents need to be displayed -->
                        if (doc != agendaPoint.Documents.Last())
                        {
                            <br class="hidden-print" />
                        }
                    }
                </dd>
            </dl>
        }
    </div>
</div>

@section Scripts{
    <script>
        function printPage() {
            window.print();
        }
    </script>
}
