﻿@using Presentation.Web.Models.Search
@model IEnumerable<KeyValuePair<string, IEnumerable<ProjectViewModel>>>

@{
    ViewBag.Title = "Fremsøgte projekter";
}

<h2 class="page-header">@ViewBag.Title</h2>

<button class="hidden-print btn btn-primary pull-right" onclick="printPage()">
    <span class="glyphicon glyphicon-print"></span>
    <span> Print projekter</span>
</button>

@foreach (var projectGrouping in Model)
{
    <h4>@(projectGrouping.Key)</h4>
    foreach (var project in projectGrouping.Value)
    {
        if (project.Council != null)
        {
            <h6>Fællesråd: @project.Council.Name</h6>
        }

        @Html.Partial("_PrintResultsPartial", project)
    }
    <hr class="printing-new-page" />
}

@section Scripts{
    <script>
        function printPage() {
            window.print();
        }
    </script>
}
