﻿@using System.ComponentModel
@using Presentation.Web.Helpers
@using System.Collections
@model Presentation.Web.Models.Search.ResultsViewModel
@{
    ViewBag.Title = "Søgeresultater";
}

<h2 class="hidden-print">Søgeresultater</h2>
<hr class="hidden-xs" />

<p id="total_entries" class="hidden-print"></p>
<a class="hidden-print" href="javascript:history.back()" title="Gå tilbage til søgeformularen">Tilbage til søgeformularen</a>

<div class="hidden-print">
    @if(Model.ShowProjects){
        <h3>Projekter</h3>

        @(Html.Kendo().Grid<Presentation.Web.Models.Search.ProjectViewModel>()
          .Name("ProjectGrid")
          .Columns(c =>
          {
              c.Bound(col => col.Id);
              c.Bound(col => col.AddressName);
              c.Bound(col => col.TopicName);
              c.Bound(col => col.ExpectedStartDate);
              c.Bound(col => col.ExpectedEndDate);
              c.Bound(col => col.Description).Sortable(false).ClientTemplate("# if(Description){# #=kendoTableTruncateString(Description, 100)# # } #");
              c.Bound(col => col.StreetType).ClientTemplate("# if(StreetType){# #=StreetType.Type# #}#");
              c.Bound(col => col.ProjectLeaderName);
              c.Bound(col => col.CouncilPriority).ClientTemplate("# if(CouncilPriority){# #=CouncilPriority.Priority# # } #");
              c.Bound(col => col.MunicipalityPriority).ClientTemplate("# if(MunicipalityPriority){# #=MunicipalityPriority.Priority# # } #");
              c.Bound(col => col.TemporaryAddress).ClientTemplate("# if (TemporaryAddress === true) { # " +
                                                                  "Ja" +
                                                                  "# } else { #" +
                                                                  "Nej" +
                                                                  "# } #");
              c.Bound(col => col.Budget);
              c.Bound(col => col.ProjectStatus.Status);

              c.Template(col => null)
                  .AddCustomButton("<span class=\"glyphicon glyphicon-list-alt text-warning\"></span>", Url.Action("Details", "Project"));
          })
          .Events(e => e.DataBound("bothTablesOnDataBound"))
          .Pageable(pager => pager.PageSizes(new List<int> { 10, 20, 50, 100, 200, 500 }))
          .Sortable()
          //.Filterable(x => x.Mode(GridFilterMode.Menu))
          .DataSource(x => x.Ajax().Read(r => r.Action("Project_Read", "Search"))
          .Filter(Model.ProjectFilter)
          )
        )
        var projectRouteValues = new RouteValueDictionary();
        foreach (PropertyDescriptor descriptor in TypeDescriptor.GetProperties(Model.ProjectSearchParameters))
        {
            if (descriptor.PropertyType.Name.Contains("IEnumerable"))
            {
                IEnumerable enumerable = (IEnumerable)descriptor.GetValue(Model.ProjectSearchParameters);
                if (enumerable != null)
                {
                    var enumerator = enumerable.GetEnumerator();
                    for (int i = 0; enumerator.MoveNext(); ++i)
                    {
                        projectRouteValues.Add(descriptor.Name + "[" + i + "]", enumerator.Current);
                    }
                }
            }
            else
            {
                projectRouteValues.Add(descriptor.Name, descriptor.GetValue(Model.ProjectSearchParameters));
            }
        }

        <a class="btn btn-primary pull-right" href="@Url.Action("PrintSearchResults", projectRouteValues)">
            <span class="glyphicon glyphicon-print"></span>
            <span> Print projekter</span>
        </a>

        <a class="btn btn-primary" id="" href="@Url.Action("PrintSearchResultsDetailed", projectRouteValues)">
            <span class="glyphicon glyphicon-print"></span>
            <span> Print projekter med detaljer</span>
        </a>
    }
</div>

@if(Model.ShowAgendaPoints){
    <h3 class="hidden-print">Færdselsmødepunkter</h3>
    <h2 class="page-header visible-print">Fremsøgte færdselsmødepunkter</h2>

    @(Html.Kendo().Grid<Presentation.Web.Models.Search.AgendaPointViewModel>()
          .Name("AgendaPointGrid")
          .Columns(c =>
          {
              c.Bound(col => col.MeetingAgendaPoint.MeetingId).ClientTemplate("# if(MeetingAgendaPoint){# #=MeetingAgendaPoint.MeetingId# # } #");
              c.Bound(col => col.AddressName);
              c.Bound(col => col.TopicName);
              c.Bound(col => col.Description).Sortable(false).ClientTemplate("# if(Description){# #=kendoTableTruncateString(Description, 100)# # } #");
              c.Bound(col => col.Status).ClientTemplate("#=Status.Status#");
              c.Bound(col => col.HasDocuments).ClientTemplate("# if (HasDocuments === true) { # " +
                                                              "Ja" +
                                                              "# } else { #" +
                                                              "Nej" +
                                                              "# } #");
              c.Bound(col => col.CreatedOn);

              c.Template(col => null)
                  .AddCustomButton("<span class=\"glyphicon glyphicon-list-alt text-warning\"></span>", Url.Action("Details", "AgendaPoint"));
          })
          .Events(e => e.DataBound("bothTablesOnDataBound"))
          .Pageable(pager => pager.PageSizes(new List<int> { 10, 20, 50, 100, 200, 500 }))
          .Sortable()
          //.Filterable(x => x.Mode(GridFilterMode.Menu))
          .DataSource(x => x.Ajax().Read(r => r.Action("AgendaPoint_Read", "Search"))
          .Filter(Model.AgendaPointFilter)
          )
    )
    var agendaPointRouteValues = new RouteValueDictionary();
    foreach (PropertyDescriptor descriptor in TypeDescriptor.GetProperties(Model.AgendaPointSearchParameters))
    {
        if (descriptor.PropertyType.Name.Contains("IEnumerable"))
        {
            IEnumerable enumerable = (IEnumerable)descriptor.GetValue(Model.AgendaPointSearchParameters);
            if (enumerable != null)
            {
                var enumerator = enumerable.GetEnumerator();
                for (int i = 0; enumerator.MoveNext(); ++i)
                {
                    agendaPointRouteValues.Add(descriptor.Name + "[" + i + "]", enumerator.Current);
                }
            }
        }
        else
        {
            agendaPointRouteValues.Add(descriptor.Name, descriptor.GetValue(Model.AgendaPointSearchParameters));
        }
    }

    <a class="btn btn-primary pull-right" href="@Url.Action("PrintAgendaPointResults", agendaPointRouteValues)">
        <span class="glyphicon glyphicon-print"></span>
        <span> Print færdselsmødepunkter</span>
    </a>
    <br/>
}

@Scripts.Render("~/Scripts/kendo/KendoTableHelpers.js")

@section scripts {
    <script>
        // Updates the total shown at the top of the page
        function bothTablesOnDataBound(e) {
            var projectGrid = $("#ProjectGrid").data("kendoGrid");
            var agendaPointGrid = $("#AgendaPointGrid").data("kendoGrid");
            var totalEntries = 0;
            if (projectGrid != null) totalEntries += projectGrid.dataSource.total();
            if (agendaPointGrid != null) totalEntries += agendaPointGrid.dataSource.total();
            $("#total_entries").html("Der blev fundet " + totalEntries + " resultater.");
        }
    </script>

    <script>
        function printPage() {
            window.print();
        }
    </script>
}
