﻿@model Presentation.Web.Models.ProjectLeader.IndexProjectLeaderViewModel
@{
    ViewBag.Title = "Bekræft sletning";
}

<h2>Bekræft sletning</h2>

@Html.Partial("CreatedModifiedPartialView")
<hr class="hidden-xs" />

<h3>Er du sikker på at du vil slette denne projektleder?</h3>
<div>
    <hr class="hidden-xs" />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Initials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Initials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Slet" class="btn btn-danger" /> |
            @Html.ActionLink("Tilbage til listen", "Index")
        </div>
    }
</div>
