﻿@using Presentation.Web.Helpers
@model IEnumerable<Presentation.Web.Models.ProjectLeader.IndexProjectLeaderViewModel>
@{
    ViewBag.Title = "Projektledere";
    var gridTitle = "ProjectLeaderGrid";
}

<h2>Projektledere</h2>
<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Opret Projektleder</a>
    </div>
    <hr />
    @(Html.Kendo().Grid<Presentation.Web.Models.ProjectLeader.IndexProjectLeaderViewModel>()
          .Name(gridTitle)
          .Columns(c =>
          {
              c.Bound(col => col.Name);
              c.Bound(col => col.Initials);
              c.Bound(col => col.Email);
              c.Bound(col => col.TeamName)
                .Filterable(x => x.UI("filterCustomizationTeam")
                .Extra(false)
                .Messages(msg => msg.Info("Filtrer rækker med valgt team")));
              c.Bound(col => col.IsActive).ClientTemplate("# if (IsActive === true) { # " +
                                                          "Ja" +
                                                          "# } else { #" +
                                                          "Nej" +
                                                          "# } #");
              c.Template(col => null)
                 .AddCustomButton("<span class=\"glyphicon glyphicon-pencil text-success\"></span>", Url.Action("Edit", "ProjectLeader"))
                 .AddCustomButton("<span class=\"glyphicon glyphicon-remove text-danger\"></span>", Url.Action("Delete", "ProjectLeader")).Width(1);
          })
          .Pageable(pager => pager.PageSizes(new List<int> { 10, 20, 50, 100, 200, 500 }))
          .Sortable()
          .Filterable(x => x.Mode(GridFilterMode.Menu))
          .DataSource(x => x.Ajax().Read(r => r.Action("ProjectLeader_Read", "ProjectLeader")))
    )
</div>

@Scripts.Render("~/Scripts/kendo/KendoTableHelpers.js")

@section scripts
{
    <script>
        $(function () {
            initStatePersistance("@gridTitle");
        });

        function filterCustomizationTeam(element) {
            removeOperatorDropdown(element);

            // Change the text box for at dropdown with the values in the database
            element.kendoDropDownList({
                dataSource: @Html.Raw(Json.Encode((ViewBag.TeamList as List<SelectListItem>).AsQueryable().Select(x => x.Text))),
                optionLabel: "Vælg team"
            });
        }
    </script>
}