﻿/*Allows the table headers text to be multiline and moves them to the top of their element*/

.k-grid  .k-grid-header  .k-header  .k-link {
    height: auto;
}

.k-grid  .k-grid-header  .k-header {
    white-space: normal;
    vertical-align: top;
}

/* Increases contrast when filters are active */
a.k-grid-filter.k-state-active {
    background-color: #d0d0d0;
}