﻿@using System.Web.Mvc.Html
@{
    ViewBag.Title = "Indstillinger";
}

<h2>Indstillinger</h2>

<ul>
    <li>@Html.ActionLink("Rådgivere", "Index", "Advisor")</li>
    <li>@Html.ActionLink("Projektkategorier", "Index", "ProjectCategory")</li>
    <li>@Html.ActionLink("Tilknyttede anlægsprogrammer", "Index", "ConstructionProgram")</li>
    <li>@Html.ActionLink("Grupper", "Index", "Group")</li>
    <li>@Html.ActionLink("Emner", "Index", "Topic")</li>
    <li>@Html.ActionLink("Standard inviterede personer", "Index", "InvitedPerson")</li>
</ul>
