﻿@model Presentation.Web.Models.ConstructionProgram.CreateConstructionProgramViewModel
@{
    ViewBag.Title = "Opret anlægsprogram";
}

<h2>Opret anlægsprogram</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr class="hidden-xs" />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.YearOfProjectInvolvement, new { @class = "control-label col-sm-4 col-md-3" })
            <div class="col-sm-8 col-md-9">
                @Html.EditorFor(model => model.YearOfProjectInvolvement, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.YearOfProjectInvolvement, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-sm-4 col-md-3" })
            <div class="col-sm-8 col-md-9">
                @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "checkbox" } })
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9">
                <input type="submit" value="Gem" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbage til listen", "Index")
</div>
