﻿@model Presentation.Web.Models.Company.DeleteCompanyViewModel
@{
    ViewBag.Title = "Bekræft sletning";
}

<h2>Bekræft sletning</h2>

@Html.Partial("CreatedModifiedPartialView")

<hr class="hidden-xs" />

@if (Model.CanDelete)
{
    <h3>Er du sikker på at du vil slette denne virksomhed?</h3>
    <div>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Slet" class="btn btn-danger" /> |
                @Html.ActionLink("Tilbage til listen", "Index")
            </div>
        }
    </div>
}
else
{
    <text>Denne virksomhed kan ikke slettes, da den har tilknyttet rådgivere.</text>
    @Html.ActionLink("Tilbage til listen", "Index")
}
