﻿@model Presentation.Web.Models.DefaultPhrase.DefaultPhraseViewModel
@{
    ViewBag.Title = "Opret standardfrase";
}

<h2>Opret standardfrase</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <hr class="hidden-xs" />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="form-group">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phrase, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Phrase, new { htmlAttributes = new { @class = "form-control", placeholder = "Skriv en standardfrase", rows = "5" } })
                @Html.ValidationMessageFor(model => model.Phrase, "", new { @class = "text-danger" })
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-sm-1" })
                <div class="col-sm-11">
                    @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "checkbox" } })
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <input type="submit" value="Gem" class="btn btn-success" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbage til listen", "Index")
</div>
