﻿@model Presentation.Web.Models.DefaultPhrase.DefaultPhraseViewModel
@{
    ViewBag.Title = "Bekræft sletning";
}

<h2>Bekræft sletning</h2>
@Html.Partial("CreatedModifiedPartialView")
<hr class="hidden-xs" />

<h3>Er du sikker på at du vil slette denne standardfrase?</h3>
<div class="row">
    <div class="col-md-12">
        <hr />
        <div class="form-group">
            @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Phrase, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", rows = "5" } })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "checkbox", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group row">
        <div class="col-md-12">
            <input type="submit" value="Slet" class="btn btn-danger" /> | @Html.ActionLink("Tilbage til listen", "Index")
        </div>
    </div>
}
