﻿@using Presentation.Web.Helpers
@model IEnumerable<Presentation.Web.Models.DefaultPhrase.IndexDefaultPhraseViewModel>
@{
    ViewBag.Title = "Standardfraser";
    var gridTitle = "DefaulPhraseGrid";
}

<h2>Standardfraser</h2>

<div class="container">
    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Opret standardfrase</a>
    </div>
    <hr />
    @(Html.Kendo().Grid<Presentation.Web.Models.DefaultPhrase.IndexDefaultPhraseViewModel>()
          .Name(gridTitle)
          .Columns(c =>
          {
              c.Bound(col => col.Phrase);
              c.Bound(col => col.Type).Filterable(x => x.Extra(false));
              c.Bound(col => col.IsActive).ClientTemplate("# if (IsActive === true) { # " +
                                                          "Ja" +
                                                          "# } else { #" +
                                                          "Nej" +
                                                          "# } #");
              c.Template(col => null)
                 .AddCustomButton("<span class=\"glyphicon glyphicon-pencil text-success\"></span>", Url.Action("Edit", "DefaultPhrase"))
                 .AddCustomButton("<span class=\"glyphicon glyphicon-remove text-danger\"></span>", Url.Action("Delete", "DefaultPhrase")).Width(1);
          })
          .Pageable(pager => pager.PageSizes(new List<int> { 10, 20, 50, 100, 200, 500 }))
          .Sortable()
          .Filterable(x => x.Mode(GridFilterMode.Menu))
          .DataSource(x => x.Ajax().Read(r => r.Action("DefaultPhrase_Read", "DefaultPhrase")))
    )
</div>

@Scripts.Render("~/Scripts/kendo/KendoTableHelpers.js")

@section scripts
{
    <script>
        $(function () {
            initStatePersistance("@gridTitle");
        });
    </script>
}