﻿@model Presentation.Web.Models.AgendaPoint.CreateAgendaPointViewModel
@{
    ViewBag.Title = "Opret færdselsmødepunkt";
}

<h2>Opret færdselsmødepunkt</h2>

@using (Html.BeginForm("Create", "AgendaPoint", FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr class="hidden-xs" />

        <div class="form-group">
            @Html.LabelFor(model => model.Area, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(model => model.Area, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @{
                    var selectedAddress = new List<SelectListItem> { new SelectListItem() }; // Empty item to enable dropdown clearing with select2
                    if (Model != null && Model.AddressId != Guid.Empty)
                    {
                        selectedAddress.Add(new SelectListItem { Value = Model.AddressId.ToString(), Selected = true });
                    }
                }
                @Html.DropDownListFor(model => model.AddressId, selectedAddress, new { @class = "form-control", id = "address-search", style = "width: 100%" })
                @Html.ValidationMessageFor(model => model.AddressId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="SearchInAarhus">Søg i Aarhus?</label>
            <div class="col-sm-10">
                <input class="checkbox" type="checkbox" checked name="SearchInAarhus" id="aarhusAddresses" value="true" />
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.TemporaryAddress, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.CheckBoxFor(model => model.TemporaryAddress, new { id = "temporaryAddressNameCheckbox", @class = "checkbox" })
                @Html.ValidationMessageFor(model => model.TemporaryAddress, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.TemporaryAddressName, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.TemporaryAddressName, new { htmlAttributes = new { id = "temporaryAddressNameTextfield", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TemporaryAddressName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.DropDownList("TeamId", ViewBag.TeamList as List<SelectListItem>, "Vælg team", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TeamId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectLeaderId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.ProjectLeaderId, ViewBag.ProjectLeaderList as List<SelectListItem>, "Vælg projektleder", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProjectLeaderId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StreetTypeId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.StreetTypeId, ViewBag.StreetTypeList as List<SelectListItem>, "Vælg vejtype", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StreetTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TopicId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.TopicId, ViewBag.TopicList as List<SelectListItem>, "Vælg emne", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TopicId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.AgendaPointStatusId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.AgendaPointStatusId, ViewBag.AgendaPointStatusList as List<SelectListItem>, "Vælg status", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AgendaPointStatusId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeetingIds, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div>
                    <select multiple name="MeetingIds" id="meeting-ids" class="form-control" style="width: 100%">
                        @foreach (var id in Model.MeetingIds)
                        {
                            <option selected="selected">@id</option>
                        }
                    </select>
                </div>
                <span class="help-block">Separer IDer med mellemrum eller komma.</span>
                @Html.ValidationMessageFor(model => model.MeetingIds, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.CbmDiscussion.Discussed, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.CheckBoxFor(model => model.CbmDiscussion.Discussed, new {id = "cbmCheckbox", @class = "checkbox" })
                @Html.ValidationMessageFor(model => model.CbmDiscussion.Discussed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CbmDiscussion.DiscussedWith, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.CbmDiscussion.DiscussedWith, new { htmlAttributes = new { id = "cbmWhoTextfield", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CbmDiscussion.DiscussedWith, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.CbmDiscussion.Description, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.CbmDiscussion.Description, new { htmlAttributes = new { id = "cbmDescriptionTextfield", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CbmDiscussion.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.CbaDiscussion.Discussed, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.CheckBoxFor(model => model.CbaDiscussion.Discussed, new { id = "cbaCheckbox", @class = "checkbox" })
                @Html.ValidationMessageFor(model => model.CbaDiscussion.Discussed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CbaDiscussion.DiscussedWith, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.CbaDiscussion.DiscussedWith, new { htmlAttributes = new { id = "cbaWhoTextfield", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CbaDiscussion.DiscussedWith, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.CbaDiscussion.Description, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.CbaDiscussion.Description, new { htmlAttributes = new { id = "cbaDescriptionTextfield", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CbaDiscussion.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Documents, new { @class = "control-label col-sm-2" })
            <div id='drop_zone' class="col-sm-offset-2">
                <div class="row" align="left" style="color: black; font-size: 11px">
                    Tegninger skal være målfaste
                </div>
                <button type="button" class='btn-danger' id="removeAllImages">X</button>
                <div action="@Url.Action("SaveUploadedFile", "AgendaPoint")" class='dropzone' id='myDropZone'></div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="button" value="Opret" id="submit" class="btn btn-success" />
                <input type="submit" style="display: none" id="hidden-submit" value="Opret" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbage til listen", "Index")
</div>

@section scripts {
    <script type="text/javascript">
        $(function() {

            // Populate advisor dropdown based on teamId
            var teamDropdown = $('#TeamId');
            var projectLeaderDropdown = $('#ProjectLeaderId');

            // on select teamDropdown change
            teamDropdown.change(function () {
                var teamId = $(this).val();

                // get all advisors where team id matches
                $.get('/ProjectLeader/ProjectLeadersWithTeamId?teamId=' + teamId, function (data) {

                    // clear all existing options
                    projectLeaderDropdown.text('');

                    // populate projectLeaderDropdown
                    if (data.length === 0)
                        projectLeaderDropdown.append($("<option />").val(undefined).text("Ingen projektledere for teamet"));

                    $.each(data, function (idx) {
                        if (idx === 0) {
                            projectLeaderDropdown.append($("<option />").val(undefined).text("Vælg projektleder"));
                            projectLeaderDropdown.append($("<option />").val(this.Id).text(this.Name));
                        } else {
                            projectLeaderDropdown.append($("<option />").val(this.Id).text(this.Name));
                        }
                    });
                });
            });

            // File upload
            var index = 0;
            var responseIndex = 0;
            var submit = $('#submit');
            var hiddenSubmit = $('#hidden-submit');
            Dropzone.autoDiscover = true;
            Dropzone.options.myDropZone = {
                init: function() {
                    myDropZone = this;
                    submit.click(function() {
                            // get jquery validator state
                            var form = $("#form");
                            form.validate();
                            if (form.valid() == true) {
                                myDropZone.processQueue();
                                if (responseIndex == index) {
                                    hiddenSubmit.click();
                                }
                            }
                        }),
                        $("#removeAllImages")
                            .click(function() {
                                myDropZone.removeAllFiles();
                                index = 0;
                                responseIndex = 0;
                            });
                    this.on("processing",
                        function() {
                            this.options.autoProcessQueue = true;
                        });
                    this.on("success",
                        function(data) {
                            var res = JSON.parse(data.xhr.responseText);

                            // hidden elements to send to server
                            var guid = Dropzone
                                .createElement("<input hidden name = 'Documents[" +
                                    responseIndex +
                                    "].Guid' value = " +
                                    res.Guid.toString() +
                                    ">");

                            responseIndex++;
                            var dropzone = $('#drop_zone');
                            dropzone.append(guid);
                        });
                    this.on('sending',
                        function(file, xhr, formData) {
                            var comment = file.previewElement.lastElementChild.value;
                            formData.append('comment', comment);
                        });
                    this.on("addedfile",
                        function(file) {
                            // Create the remove button
                            var commentField = Dropzone.createElement(
                                "<textarea id = '" +
                                index +
                                "' class = 'doc-text-area' name = 'Documents[" +
                                index +
                                "].Comment'>");

                            index++;
                            var removeButton = Dropzone.createElement(
                                "<button class='btn-danger'>Slet fil</button>");
                            // Capture the Dropzone instance as closure.
                            var _this = this;

                            // Listen to the click event
                            removeButton.addEventListener("click",
                                function(e) {
                                    // Make sure the button click doesn't submit the form:
                                    e.preventDefault();
                                    e.stopPropagation();

                                    // decrement index
                                    index--;

                                    // Remove the file preview.
                                    _this.removeFile(file);
                                });

                            // Add the button to the file preview element.
                            file.previewElement.appendChild(removeButton);
                            file.previewElement.appendChild(commentField);

                            //Chaning the information placed in the size attribute to show file extentions instead.
                            //Dropzone does not seem to allow custom fields to be added to its template,
                            //making this hack necessary in order to overwrite default behaviour
                            var dzElement = $("#" + (index - 1)).parent();

                            var split = file.name.split(".");
                            var fileExtension = split[split.length - 1];
                            var sizeField = dzElement.find('.dz-size span:first-child');
                            sizeField.html("<strong>" + fileExtension + "</strong>");

                            //Hack to fake the upload without uploading the file
                            var progressBar = dzElement.find('.dz-progress .dz-upload');
                            $(progressBar).width("100%");

                            //Hack to fake success and compelte
                            $(dzElement).addClass("dz-success dz-complete");
                        });
                },
                dictDefaultMessage: "Træk og slip for at uploade dokumenter",
                uploadMultiple: false,
                autoProcessQueue: true,
                paramName: "file",
                maxFilesize: 1000,
            };

            var projectSearch = $("#project-id-search");
            var meetingIds = $("#meeting-ids");

            meetingIds.select2({
                tags: true,
                tokenSeparators: [" ", ","],
                dropdownCssClass: "hide",
                language: "da"
            });

            projectSearch.select2({
                ajax: {
                    dataType: "json",
                    delay: 250,
                    data: function(params) {
                        var ret = {
                            id: params.term
                        };

                        return ret;
                    },
                    processResults: function(data) {
                        var result = [];

                        data.forEach(function(d) {
                            result.push({ id: d.Id, text: d.Name });
                        });

                        var ret = {
                            results: result
                        };

                        return ret;
                    },
                    cache: true
                },
                escapeMarkup: function(markup) {
                    return markup;
                },
                minimumInputLength: 1,
                language: "da",
                allowClear: true
            });

            // partner discussion configuration (partnerdiscussion.js, cba bundle)
            setupPartnerDiscussionElements("cbaCheckbox", "cbaWhoTextfield");
            setupPartnerDiscussionElements("cbaCheckbox", "cbaDescriptionTextfield");
            setupPartnerDiscussionElements("cbmCheckbox", "cbmWhoTextfield");
            setupPartnerDiscussionElements("cbmCheckbox", "cbmDescriptionTextfield");

            // temporary address configuration
            setupPartnerDiscussionElements("temporaryAddressNameCheckbox", "temporaryAddressNameTextfield");
        });
    </script>
}
