﻿@model Presentation.Web.Models.AgendaPoint.DeleteAgendaPointViewModel
@{
    ViewBag.Title = "Bekræft sletning";
}

<h2>Bekræft sletning</h2>

@Html.Partial("CreatedModifiedPartialView")

<hr class="hidden-xs" />

<h3>Er du sikker på at du vil slette mødepunktet?</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.AddressName)</dt>
                <dd>@Html.DisplayFor(model => model.AddressName)</dd>
                
                <dt>@Html.DisplayNameFor(model => model.TemporaryAddress)</dt>
                <dd>@Html.DisplayFor(model => model.TemporaryAddress)</dd>

                @if (Model.TemporaryAddress)
                {
                    <dt>@Html.DisplayNameFor(model => model.TemporaryAddressName)</dt>
                    <dd>@Html.DisplayFor(model => model.TemporaryAddressName)</dd>
                }

                <dt>@Html.DisplayNameFor(model => model.ProjectLeaderName)</dt>
                <dd>@Html.DisplayFor(model => model.ProjectLeaderName)</dd>

                <dt>@Html.DisplayNameFor(model => model.StreetType)</dt>
                <dd>@Html.DisplayFor(model => model.StreetType.Type)</dd>
                
                <dt>@Html.DisplayNameFor(model => model.TopicName)</dt>
                <dd>@Html.DisplayFor(model => model.TopicName)</dd>

                <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                <dd>@Html.DisplayFor(model => model.Description)</dd>

                <dt>@Html.DisplayNameFor(model => model.AgendaPointStatus)</dt>
                <dd>@Html.DisplayFor(model => model.AgendaPointStatus.Status)</dd>

                <dt>@Html.DisplayNameFor(model => model.Agreement)</dt>
                <dd>@Html.DisplayFor(model => model.Agreement)</dd>

                <dt>@Html.DisplayNameFor(model => model.Conclusion)</dt>
                <dd>@Html.DisplayFor(model => model.Conclusion)</dd>
                
                <dt>@Html.DisplayNameFor(model => model.CbmDiscussion.Discussed)</dt>
                <dd>@Html.DisplayFor(model => model.CbmDiscussion.Discussed)</dd>

                @if (Model.CbmDiscussion.Discussed)
                {
                    <dt>@Html.DisplayNameFor(model => model.CbmDiscussion.DiscussedWith)</dt>
                    <dd>@Html.DisplayFor(model => model.CbmDiscussion.DiscussedWith)</dd>
                    <dt>@Html.DisplayNameFor(model => model.CbmDiscussion.Description)</dt>
                    <dd>@Html.DisplayFor(model => model.CbmDiscussion.Description)</dd>
                }

                <dt>@Html.DisplayNameFor(model => model.CbaDiscussion.Discussed)</dt>
                <dd>@Html.DisplayFor(model => model.CbaDiscussion.Discussed)</dd>

                @if (Model.CbaDiscussion.Discussed)
                {
                    <dt>@Html.DisplayNameFor(model => model.CbaDiscussion.DiscussedWith)</dt>
                    <dd>@Html.DisplayFor(model => model.CbaDiscussion.DiscussedWith)</dd>
                    <dt>@Html.DisplayNameFor(model => model.CbaDiscussion.Description)</dt>
                    <dd>@Html.DisplayFor(model => model.CbaDiscussion.Description)</dd>
                }

                <dt>@Html.DisplayNameFor(model => model.Documents)</dt>
                <dd>
                    @foreach (var doc in Model.Documents)
                    {
                        <p>
                            <a href="@Url.Action("Download", "AgendaPoint" , new { guid=doc.Guid })">@Html.DisplayFor(d => doc.FileName)</a><br />
                            <span>
                                @Html.DisplayFor(model => doc.Comment)
                            </span>
                        </p>
                    }
                </dd>
                
                <dt>@Html.DisplayNameFor(model => model.PreviousMeetings)</dt>
                <dd>
                    @foreach (var meetingId in Model.PreviousMeetings)
                    {
                        <span>@meetingId.Id</span>
                    }
                </dd>
            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Slet" class="btn btn-danger" /> | @Html.ActionLink("Gå tilbage", "Index") | @Html.ActionLink("Rediger", "Edit", new { id = Model.Id })
            </div>
        </div>
    }
</div>
