﻿@model Presentation.Web.Models.AgendaPoint.DetailsAgendaPointViewModel
@{
    ViewBag.Title = "Færdselsmødepunkt";
}

<h2>Færdselsmødepunkt</h2>

@Html.Partial("CreatedModifiedPartialView")

<div>
    <hr class="hidden-xs" />

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.AddressName)</dt>
        <dd>@Html.DisplayFor(model => model.AddressName)</dd>

        <dt>@Html.DisplayNameFor(model => model.TemporaryAddress)</dt>
        <dd>@Html.DisplayFor(model => model.TemporaryAddress)</dd>

        @if (Model.TemporaryAddress)
        {
            <dt>@Html.DisplayNameFor(model => model.TemporaryAddressName)</dt>
            <dd>@Html.DisplayFor(model => model.TemporaryAddressName)</dd>
        }

        <dt>@Html.DisplayNameFor(model => model.Area)</dt>
        <dd>@Html.DisplayFor(model => model.Area)</dd>

        <dt>@Html.DisplayNameFor(model => model.ProjectLeaderName)</dt>
        <dd>@Html.DisplayFor(model => model.ProjectLeaderName)</dd>

        <dt>@Html.DisplayNameFor(model => model.StreetType)</dt>
        <dd>@Html.DisplayFor(model => model.StreetType.Type)</dd>

        <dt>@Html.DisplayNameFor(model => model.TopicName)</dt>
        <dd>@Html.DisplayFor(model => model.TopicName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd >
            <div class="description-details">
                @Html.DisplayFor(model => model.Description)
            </div>
        </dd>

        <dt>@Html.DisplayNameFor(model => model.AgendaPointStatus)</dt>
        <dd>@Html.DisplayFor(model => model.AgendaPointStatus.Status)</dd>

        <dt>@Html.DisplayNameFor(model => model.Agreement)</dt>
        <dd>@Html.DisplayFor(model => model.Agreement)</dd>

        <dt>@Html.DisplayNameFor(model => model.Conclusion)</dt>
        <dd>@Html.DisplayFor(model => model.Conclusion)</dd>

        <dt>@Html.DisplayNameFor(model => model.CbmDiscussion.Discussed)</dt>
        <dd>@Html.DisplayFor(model => model.CbmDiscussion.Discussed)</dd>

        @if (Model.CbmDiscussion != null && Model.CbmDiscussion.Discussed)
        {
            <dt>@Html.DisplayNameFor(model => model.CbmDiscussion.DiscussedWith)</dt>
            <dd>@Html.DisplayFor(model => model.CbmDiscussion.DiscussedWith)</dd>
            <dt>@Html.DisplayNameFor(model => model.CbmDiscussion.Description)</dt>
            <dd>@Html.DisplayFor(model => model.CbmDiscussion.Description)</dd>
        }

        <dt>@Html.DisplayNameFor(model => model.CbaDiscussion.Discussed)</dt>
        <dd>@Html.DisplayFor(model => model.CbaDiscussion.Discussed)</dd>

        @if (Model.CbaDiscussion != null && Model.CbaDiscussion.Discussed)
        {
            <dt>@Html.DisplayNameFor(model => model.CbaDiscussion.DiscussedWith)</dt>
            <dd>@Html.DisplayFor(model => model.CbaDiscussion.DiscussedWith)</dd>
            <dt>@Html.DisplayNameFor(model => model.CbaDiscussion.Description)</dt>
            <dd>@Html.DisplayFor(model => model.CbaDiscussion.Description)</dd>
        }

        <dt>@Html.DisplayNameFor(model => model.Documents)</dt>
        <dd>
            @foreach (var doc in Model.Documents)
            {
                <p>
                    <a href="@Url.Action("Download", "AgendaPoint" , new { guid=doc.Guid })">@Html.DisplayFor(d => doc.FileName)</a><br />
                    <span>
                        @Html.DisplayFor(model => doc.Comment)
                    </span>
                </p>
            }
        </dd>

        <dt>@Html.DisplayNameFor(model => model.PreviousMeetings)</dt>
        <dd>
            @foreach (var meetingId in Model.PreviousMeetings)
            {
                <span>@Html.ActionLink("" + meetingId.Id, "Details", "Meeting", new { id = meetingId.Id }, null)</span>
            }
        </dd>

        @if (Model.MeetingAgendaPoint != null)
        {
            <dt>@Html.DisplayNameFor(model => model.MeetingAgendaPoint.MeetingId)</dt>
            <dd>
                @Html.ActionLink("" + Model.MeetingAgendaPoint.MeetingId, "Details", "Meeting", new { id = Model.MeetingAgendaPoint.MeetingId }, null)
            </dd>
        }
    </dl>
</div>

@using (Html.BeginForm("CopyAgendaPoint", "AgendaPoint", FormMethod.Post, new {id = "form"}))
{
    <p>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <br/>
        @if (Model.CanBeEdited)
        {
            @Html.ActionLink("Rediger", "Edit", new { id = Model.Id })
        }
        else
        {
            <a href="#" data-toggle="tooltip" data-placement="top" title="OBS: Du kan ikke redigere dette færdselsmødepunkt, da det allerede er tilknyttet et færdselsmøde. Du kan enten fjerne det fra mødet, eller oprette en kopi af dette mødepunkt og redigere i det i stedet">Rediger</a>
        }
        |
        @Html.ActionLink("Tilbage til listen", "Index")
        | <a class="hidden-print" target="_blank" href="@("http://webkort.adm.aarhuskommune.dk/spatialmap?profile=edit_point&editid="+Model.Id+"&editds=pofcba_agendapoints&edit=true")">
            <span class="glyphicon glyphicon-map-marker"></span> Vis på kort
        </a>
        | <input type="submit" value="Opret kopi af færdselsmødepunkt" class="btn btn-sm btn-primary" />
    </p>
}

@section Scripts {
    <script type="text/javascript">
        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
