﻿@model Presentation.Web.Models.AgendaPoint.EditAgendaPointViewModel
@{
    ViewBag.Title = "Rediger færdselsmødepunkt";
}

<h2>Rediger færdselsmødepunkt</h2>

@Html.Partial("CreatedModifiedPartialView")

@if (ViewBag.IsCopy != null && ViewBag.IsCopy)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Færdselsmødepunkt kopieret!</strong>
        Herunder ses kopien af færdelsmødepunktet.
    </div>
}

<hr class="hidden-xs" />

@using (Html.BeginForm("Edit", "AgendaPoint", FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatedOn)
    @Html.HiddenFor(model => model.CreatedBy)

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.Area, new {@class = "control-label col-sm-2"})
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(model => model.Area, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Area, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddressId, new { @class = "control-label col-sm-2" })
            <div id="addressSearchContainer" class="col-sm-10">
                @{
                    var addressList = new List<SelectListItem> {
                        new SelectListItem(), // To enable dropdown clearing with select2
                        new SelectListItem {Text = Model.AddressName, Value = Guid.Empty.ToString(), Selected = true }
                    };
                }
                @Html.DropDownListFor(model => model.AddressId, addressList, new { @class = "form-control", id = "address-search", style = "width: 100%"})
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="SearchInAarhus">Søg i Aarhus?</label>
            <div class="col-sm-10">
                <input class="checkbox" type="checkbox" checked name="SearchInAarhus" id="aarhusAddresses" value="true" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TemporaryAddress, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.CheckBoxFor(model => model.TemporaryAddress, new { id = "temporaryAddressNameCheckbox", @class = "checkbox" })
                @Html.ValidationMessageFor(model => model.TemporaryAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TemporaryAddressName, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.TemporaryAddressName, new { htmlAttributes = new { id = "temporaryAddressNameTextfield", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TemporaryAddressName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TeamId, new { @class = "control-label col-sm-2" })
            <div class="col-md-10">
                @Html.DropDownList("TeamId", ViewBag.TeamList as List<SelectListItem>, "Vælg team", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TeamId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectLeaderId, new { @class = "control-label col-sm-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProjectLeaderId, ViewBag.ProjectLeaderList as List<SelectListItem>, "Vælg projektleder", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProjectLeaderId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StreetTypeId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.StreetTypeId, ViewBag.StreetTypeList as List<SelectListItem>, "Vælg vejtype", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StreetTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TopicId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.TopicId, ViewBag.TopicList as List<SelectListItem>, "Vælg emne", new { @class = "form-control" })
                @if (ViewBag.IsTopicDeleted != null && ViewBag.IsTopicDeleted)
                {
                    <span class="text-danger">Det aktuelle emne er slettet. Hvis det fravælges kan det ikke findes igen.</span>
                }
                @Html.ValidationMessageFor(model => model.TopicId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgendaPointStatusId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.AgendaPointStatusId, ViewBag.AgendaPointStatusList as List<SelectListItem>, "Vælg status", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AgendaPointStatusId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeetingIds, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div>
                    <input type="hidden" id="removed-meeting-ids" name="RemovedMeetingIds" value="" />
                    <select multiple name="MeetingIds" id="meeting-ids" class="form-control" style="width: 100%">
                        @if (Model.MeetingIds != null)
                        {
                            foreach (var id in Model.MeetingIds)
                            {
                                <option selected="selected">@id</option>
                            }
                        }
                    </select>
                </div>
                <span class="help-block">Separer IDer med mellemrum eller komma.</span>
                @Html.ValidationMessageFor(model => model.MeetingIds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CbmDiscussion.Discussed, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.CheckBoxFor(model => model.CbmDiscussion.Discussed, new { id = "cbmCheckbox", @class = "checkbox" })
                @Html.ValidationMessageFor(model => model.CbmDiscussion.Discussed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CbmDiscussion.DiscussedWith, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.CbmDiscussion.DiscussedWith, new { htmlAttributes = new { id = "cbmWhoTextfield", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CbmDiscussion.DiscussedWith, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CbmDiscussion.Description, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.CbmDiscussion.Description, new { htmlAttributes = new { id = "cbmDescriptionTextfield", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CbmDiscussion.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CbaDiscussion.Discussed, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.CheckBoxFor(model => model.CbaDiscussion.Discussed, new { id = "cbaCheckbox", @class = "checkbox" })
                @Html.ValidationMessageFor(model => model.CbaDiscussion.Discussed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CbaDiscussion.DiscussedWith, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.CbaDiscussion.DiscussedWith, new { htmlAttributes = new { id = "cbaWhoTextfield", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CbaDiscussion.DiscussedWith, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CbaDiscussion.Description, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.CbaDiscussion.Description, new { htmlAttributes = new { id = "cbaDescriptionTextfield", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CbaDiscussion.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Documents, new { @class = "control-label col-sm-2" })
            <div id='drop_zone' class="col-sm-offset-2">
                <div class="row" align="left" style="color: black; font-size: 11px">
                    Tegninger skal være målfaste
                </div>
                <button type="button" class='btn-danger' id="removeAllImages">X</button>
                <div action="@Url.Action("SaveUploadedFile", "AgendaPoint")" class='dropzone' id='myDropZone'></div>
                @for (int i = 0; i < Model.Documents.Count; i++)
                {
                    @Html.HiddenFor(model => model.Documents[i].Guid)
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="button" value="Gem" id="submit" class="btn btn-success" />
                <input type="submit" style="display: none" id="hidden-submit" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbage til listen", "Index")
</div>

@section scripts {
    <script type="text/javascript">
        $(function() {

            // Store the original address as a placeholder.
            var addressNameTextfield = $("#addressNameTextfield");
            addressNameTextfield.on("input", function() {

                // Present the select 2/aws address search function when editing.
                $("#addressPreviousContainer").hide();
                $("#addressSearchContainer").show();
                $("#address-search").select2("open");

                // Load the previous value into the search field.
                $(".select2-search__field").val(addressNameTextfield.val());
            });

            // Populate advisor dropdown based on teamId
            var teamDropdown = $('#TeamId');
            var projectLeaderDropdown = $('#ProjectLeaderId');

            // on select teamDropdown change
            teamDropdown.change(function () {
                var teamId = $(this).val();

                // get all advisors where team id matches
                $.get('/ProjectLeader/ProjectLeadersWithTeamId?teamId=' + teamId, function (data) {

                    // clear all existing options
                    projectLeaderDropdown.text('');

                    // populate projectLeaderDropdown
                    if (data.length === 0)
                        projectLeaderDropdown.append($("<option />").val(undefined).text("Ingen projektledere for teamet"));

                    $.each(data, function (idx) {
                        if (idx === 0) {
                            projectLeaderDropdown.append($("<option />").val(undefined).text("Vælg projektleder"));
                            projectLeaderDropdown.append($("<option />").val(this.Id).text(this.Name));
                        } else {
                            projectLeaderDropdown.append($("<option />").val(this.Id).text(this.Name));
                        }
                    });
                });
            });

            //Add existing files into dropzone
            var existingFiles = [
                @for (int i = 0; i < Model.Documents.Count; i++)
                {
                    @:{ name: "@Html.Raw(Model.Documents[i].FileName)", size: @Model.Documents[i].FileSize.ToString("F0"), comment: "@Model.Documents[i].Comment", existing: true },
                }
            ];

            // File upload
            var index = 0;
            var responseIndex = 0;
            var submit = $('#submit');
            var hiddenSubmit = $('#hidden-submit');

            // reorder files so array is unbroken and zerobased
            function reorderFileNames() {
                var newIndex = 0;

                // get all names of files and set their order from 0
                for (var i = 0; i <= index; i++) {
                    var guidId = "#Documents_" + i + "__Guid";
                    var commentId = "#" + i + "";
                    var guidToReorder = $(guidId);
                    var commentToReorder = $(commentId);

                    // if elements found, set new index and increment
                    if (guidToReorder.length) {
                        // set names of guid and comment
                        guidToReorder.attr('name', 'Documents[' + newIndex + '].Guid');
                        commentToReorder.attr('name', 'Documents[' + newIndex + '].Comment');
                        newIndex++;
                    }
                }
            }

            Dropzone.autoDiscover = true;

            Dropzone.options.myDropZone = {
                init: function() {
                    myDropZone = this;

                    submit.click(function() {
                            // get jquery validator state
                            var form = $("#form");
                            form.validate();
                            if (form.valid() == true) {
                                myDropZone.processQueue();
                                if (responseIndex == index) {
                                    reorderFileNames();
                                    hiddenSubmit.click();
                                }
                            }
                        }),
                        $("#removeAllImages").click(function() {

                            // remove exsisting files
                            for (var i = 0; i < existingFiles.length; i++) {
                                tempFile = existingFiles[i];
                                myDropZone.removeFile(tempFile);

                                // remove guid
                                var indexToRemove = tempFile.previewElement.lastElementChild.id;
                                idToRemove = "#Documents_" + indexToRemove + "__Guid";
                                var guidToRemove = $(idToRemove);
                                guidToRemove.remove();
                            }

                            myDropZone.removeAllFiles();
                            index = 0;
                            responseIndex = 0;
                        });
                    this.on("processing", function() {
                        this.options.autoProcessQueue = true;
                    });
                    this.on("success", function(data) {
                        var res = JSON.parse(data.xhr.responseText);
                        console.debug(res);

                        // hidden elements to send to server
                        var guid = Dropzone.createElement("<input hidden id = 'Documents_" + responseIndex + "__Guid' name = 'Documents[" + responseIndex + "].Guid' value = " + res.Guid.toString() + ">");

                        responseIndex++;
                        var dropzone = $('#drop_zone');
                        dropzone.append(guid);
                        if (responseIndex == index) {
                            reorderFileNames();
                        }
                    });
                    this.on('sending', function(file, xhr, formData) {
                        var comment = file.previewElement.lastElementChild.value;
                        var id = @Model.Id;
                        formData.append('comment', comment);
                        formData.append('id', id);
                    });
                    this.on("addedfile", function(file, commentText) {

                        if (commentText === undefined)
                            commentText = '';

                        // Create the remove button
                        var commentField = Dropzone.createElement(
                            "<textarea id = '" + index + "' class = 'doc-text-area' name = 'Documents[" + index + "].Comment'>" + commentText + "</textarea>");

                        index++;
                        var removeButton = Dropzone.createElement(
                            "<button class='btn-danger'>Slet fil</button>");
                        // Capture the Dropzone instance as closure.
                        var _this = this;

                        // Listen to the click event
                        removeButton.addEventListener("click", function(e) {
                            // Make sure the button click doesn't submit the form:
                            e.preventDefault();
                            e.stopPropagation();

                            // decrement index
                            index--;

                            // if exsisting decrement responseindex, because it is already set +1
                            if (file.existing)
                                responseIndex--;

                            // remove guid
                            var indexToRemove = file.previewElement.lastElementChild.id;
                            idToRemove = "#Documents_" + indexToRemove + "__Guid";
                            var guidToRemove = $(idToRemove);
                            guidToRemove.remove();

                            // Remove the file preview.
                            _this.removeFile(file);
                        });

                        // Add the button to the file preview element.
                        file.previewElement.appendChild(removeButton);
                        file.previewElement.appendChild(commentField);

                        //Chaning the information placed in the size attribute to show file extentions instead.
                        //Dropzone does not seem to allow custom fields to be added to its template,
                        //making this hack necessary in order to overwrite default behaviour
                        var dzElement = $("#" + (index - 1)).parent();

                        var split = file.name.split(".");
                        var fileExtension = split[split.length - 1];
                        var sizeField = dzElement.find('.dz-size span:first-child');
                        sizeField.html("<strong>" + fileExtension + "</strong>");

                        //Hack to fake the upload without uploading the file
                        var progressBar = dzElement.find('.dz-progress .dz-upload');
                        $(progressBar).width("100%");

                        //Hack to fake success and compelte
                        $(dzElement).addClass("dz-success dz-complete");
                    });
                    for (var i = 0; i < existingFiles.length; i++) {
                        // count of response index, even though the exsisting files are just added
                        responseIndex++;

                        file = existingFiles[i];
                        myDropZone.emit("addedfile", file, existingFiles[i].comment);
                        myDropZone.emit("complete", file);
                    }
                },
                dictDefaultMessage: "Træk og slip for at uploade dokumenter",
                uploadMultiple: false,
                autoProcessQueue: true,
                paramName: "file",
                maxFilesize: 1000,
            };

            var projectSearch = $("#project-id-search");
            var meetingIds = $("#meeting-ids");
            var removedMeetingIds = $("#removed-meeting-ids");

            meetingIds.select2({
                tags: true,
                tokenSeparators: [" ", ","],
                dropdownCssClass: "hide",
                language: "da"
            });

            // Save deleted ids for database update
            meetingIds.on("select2:unselect", function(e) {
                removedMeetingIds.val(removedMeetingIds.val() + e.params.data.id + " ");
            });

            projectSearch.select2({
                ajax: {
                    dataType: "json",
                    delay: 250,
                    data: function(params) {
                        var ret = {
                            id: params.term
                        };

                        return ret;
                    },
                    processResults: function(data) {
                        var result = [];

                        data.forEach(function(d) {
                            result.push({ id: d.Id, text: d.Name });
                        });

                        var ret = {
                            results: result
                        };

                        return ret;
                    },
                    cache: true,
                },
                escapeMarkup: function(markup) {
                    return markup;
                },
                minimumInputLength: 1,
                language: "da",
                allowClear: true
            });

            // partner discussion configuration (partnerdiscussion.js, cba bundle)
            setupPartnerDiscussionElements("cbaCheckbox", "cbaWhoTextfield");
            setupPartnerDiscussionElements("cbaCheckbox", "cbaDescriptionTextfield");
            setupPartnerDiscussionElements("cbmCheckbox", "cbmWhoTextfield");
            setupPartnerDiscussionElements("cbmCheckbox", "cbmDescriptionTextfield");

            // temporary address configuration
            setupPartnerDiscussionElements("temporaryAddressNameCheckbox", "temporaryAddressNameTextfield");
        });
    </script>
}
