﻿@using Presentation.Web.Helpers
@model IEnumerable<Presentation.Web.Models.AgendaPoint.IndexAgendaPointViewModel>

@{
    ViewBag.Title = "Færdselsmødepunkter";
    var gridTitle = "AgendaPointGrid";
}

@if (Response.Cookies["excludePoints"].Value == "true")
{
    <h2>Fremtidige færdselsmødepunkter</h2>
}
else
{
    <h2>Færdselsmødepunkter</h2>
}

<div class="container">
    @* Show deadline for new AgendaPoints *@
    @if (ViewBag.nextMeeting != null)
    {
        <i>Deadline for inddatering af Færdselsmødepunkter: @(ViewBag.nextMeeting.Deadline)<br /></i>
        <i>Næste Færdselsmøde: @(ViewBag.nextMeeting.Name)</i>
    }

    <div class="row">
        <a href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus text-success"></span> Opret færdselsmødepunkt</a>
    </div>

    <div>
        @if (Response.Cookies["excludePoints"].Value == "true")
        {
            <input type="checkbox" id="excludeAgendaPointsWithMeeting" checked /> <text>Vis kun Færdselsmødepunkter som ikke er tilknyttet et Færdselsmøde.</text>
        }
        else
        {
            <input type="checkbox" id="excludeAgendaPointsWithMeeting" /> <text>Vis kun Færdselsmødepunkter som ikke er tilknyttet et Færdselsmøde.</text>
        }

        <br />

        @if (Response.Cookies["onlyNewPoints"].Value == "true")
        {
            <input type="checkbox" id="showOnlyNewPoints" checked /> <text>Vis kun mødepunkter mindre end et år gammelt</text>
        }
        else
        {
            <input type="checkbox" id="showOnlyNewPoints" /> <text>Vis kun mødepunkter mindre end et år gammelt</text>
        }
    </div>

    @(Html.Kendo().Grid<Presentation.Web.Models.AgendaPoint.IndexAgendaPointViewModel>()
          .Name(gridTitle)
          .Columns(c =>
          {
              if (Response.Cookies["onlyNewPoints"].Value == "false")
              {
                  c.Bound(col => col.MeetingAgendaPointMeetingId);
              }

              c.Bound(col => col.AddressName);
              c.Bound(col => col.ProjectLeaderName);
              c.Bound(col => col.TemporaryAddress).ClientTemplate("# if (TemporaryAddress === true) { # " +
                                                                  "Ja" +
                                                                  "# } else { #" +
                                                                  "Nej" +
                                                                  "# } #");
              c.Bound(col => col.StreetType.Type)
                .Filterable(x => x.UI("filterCustomizationStreetType")
                .Extra(false)
                .Messages(msg => msg.Info("Filtrer rækker med valgt vejtype")));
              c.Bound(col => col.TopicName)
                .Filterable(x => x.UI("filterCustomizationTopic")
                .Extra(false)
                .Messages(msg => msg.Info("Filtrer rækker med valgt emne")));
              c.Bound(col => col.Description).Filterable(false).Sortable(false).ClientTemplate("# if(Description){# #=kendoTableTruncateString(Description, 100)# # } #");
              c.Bound(col => col.Conclusion).ClientTemplate("# if(Conclusion){# #=kendoTableTruncateString(Conclusion, 100)# # } #"); ;
              c.Bound(col => col.AgendaPointStatus.Status)
                .Filterable(x => x.UI("filterCustomizationAgendaPointStatus")
                .Extra(false)
                .Messages(msg => msg.Info("Filtrer rækker med valgt status")));
              c.Bound(col => col.HasDocuments).ClientTemplate("# if (HasDocuments === true) { # " +
                                                                  "Ja" +
                                                                  "# } else { #" +
                                                                  "Nej" +
                                                                  "# } #");

              c.Bound(col => col.MeetingIds).ClientTemplate("#=meetingIdTemplate(MeetingIds)#")
                .Filterable(false)
                .Sortable(false);
              c.Template(col => null)
                 .AddCustomButton("<span class=\"glyphicon glyphicon-pencil text-success\"></span>", Url.Action("Edit", "AgendaPoint"))
                 .AddCustomButton("<span class=\"glyphicon glyphicon-list-alt text-warning\"></span>", Url.Action("Details", "AgendaPoint"))
                 .AddCustomButton("<span class=\"glyphicon glyphicon-remove text-danger\"></span>", Url.Action("Delete", "AgendaPoint")).Width(1);
          })
          .Pageable(pager => pager.PageSizes(new List<int> { 10, 20, 50, 100, 200, 500 }))
          .Events(e => e.DataBound("agendaPointTableOnDataBound"))
          .Sortable()
          .Filterable(x => x.Mode(GridFilterMode.Menu))
          .DataSource(x => x.Ajax().Read(r => r.Action("AgendaPoint_Read", "AgendaPoint")))
    )
</div>

@Scripts.Render("~/Scripts/kendo/KendoTableHelpers.js")
@Scripts.Render("~/Scripts/CookieHelpers.js")

@section scripts
{
    <script>
        function filterCustomizationTopic(element) {
            removeOperatorDropdown(element);

            // Change the text box for at dropdown with the values in the database
            element.kendoDropDownList({
                dataSource: @Html.Raw(Json.Encode((ViewBag.TopicList as List<SelectListItem>).AsQueryable().Select(x => x.Text))),
                optionLabel: "Vælg emne"
            });
        }

        function filterCustomizationStreetType(element) {
            removeOperatorDropdown(element);

            // Change the text box for at dropdown with the values in the database
            element.kendoDropDownList({
                dataSource: @Html.Raw(Json.Encode((ViewBag.StreetTypeList as List<SelectListItem>).AsQueryable()
                           .Where(x => !x.Text.Contains("(Inaktiv)") && !x.Text.Contains("(Slettet)"))
                           .Select(x => x.Text))),
                optionLabel: "Vælg vejttype"
            });
        }

        function filterCustomizationAgendaPointStatus(element) {
            removeOperatorDropdown(element);

            // Change the text box for at dropdown with the values in the database
            element.kendoDropDownList({
                dataSource: @Html.Raw(Json.Encode((ViewBag.AgendaPointStatusList as List<SelectListItem>).AsQueryable().Select(x => x.Text))),
                optionLabel: "Vælg status"
            });
        }

        function meetingIdTemplate(meetingIds) {
            var ids = "";
            if (meetingIds.length > 0) {
                for (var i = 0; i < meetingIds.length - 1; i++) {
                    ids += meetingIds[i].toString() + ', ';
                }
                ids += meetingIds[meetingIds.length - 1];
            }
            return kendoTableTruncateString(ids, 50);
        }

        function agendaPointTableOnDataBound(e) {
            var grid = $("#@gridTitle").data("kendoGrid");
            var gridData = grid.dataSource.view();

            for (var i = 0; i < gridData.length; i++) {
                var currentUid = gridData[i].uid;
                if (gridData[i].CanBeEdited === false) {
                    var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    var editButton = $(currentRow).find(".k-grid-Edit");
                    editButton.hide();
                }
                if (gridData[i].IsDeletableForCurrentUser === false) {
                    var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                    var editButton = $(currentRow).find(".k-grid-Delete");
                    editButton.hide();
                }
            }
        }

        $(function() {
            // Toggle only showing awaiting projects
            $('#excludeAgendaPointsWithMeeting').on('change',
                function(e) {
                    cbaSetCookie("excludePoints", $(this).is(':checked') ? 'true' : 'false');
                });

            //Toggle whether to show older points.
            $('#showOnlyNewPoints').on('change',
                function(e) {
                    cbaSetCookie("onlyNewPoints", $(this).is(':checked') ? 'true' : 'false');
                });
            initStatePersistance("@gridTitle");
        });
    </script>
}